<body>
    <header>
        <logo-container class="logo-container">
            <img src="./resources/logo.png" alt="logo">
        </logo-container>
    </header>
    <main>
        <div class="formSignup">
            <form onsubmit="formToCreateAnewUser(); return false">
                <div class="formHeader">
                    <figure onclick="removeActiveFromSignup()">
                        <img src="./resources/symbols/arrow-left-line.png" alt="arrow-left-line">
                    </figure>
                    <div>
                        <h1>Log in</h1>
                        <hr>
                    </div>
                </div>
                <div class="formInput">
                    <input-container class="input-container">
                        <input type="text" placeholder="Name" id="inputName" required>
                        <img src="./resources/symbols/person.png" alt="person">
                    </input-container>
                    <input-container class="input-container">
                        <input type="email" placeholder="Email" id="inputEmail" required>
                        <img src="./resources/symbols/mail.png" alt="mail">
                    </input-container>
                    <input-container class="input-container">
                        <input type="password" placeholder="Password" id="inputPassword" required>
                        <img src="./resources/symbols/lock.png" alt="lock">
                    </input-container>
                    <input-container class="input-container" id="signupPasswordContainer">
                        <input type="password" placeholder="Confirm Password" id="inputConfirmPassword" required>
                        <img src="./resources/symbols/lock.png" alt="lock">
                    </input-container>
                    <span id="signupLoginWarning">Ups! your password don`t match</span>
                    <div>
                        <input type="checkbox" id="inputCheckbox">
                        <label for="inputCheckbox">I accept the 
                            <button type="button" onclick="window.open('./pages/login_dataprotection/dataprotection.html?page=privacy_policy')">Privacy Policy</button>
                        </label>
                    </div>
                </div>
                <div class="formButtons">
                    <button type="submit">Sign up</button>
                </div>
            </form>
        </div>
        <div class="successfulRegistration">
            <span>You Signed Up successfully</span>
        </div>
    </main>
    <footer>
        <div>
            <button type="button" onclick="window.open('./pages/login_dataprotection/dataprotection.html?page=privacy_policy')">Privacy Policy</button>
            <button type="button" onclick="window.open('./pages/login_dataprotection/dataprotection.html?page=legal_notice')">Legal notice</button>
        </div>
    </footer>
</body>