/* main.css */

@import url('./style.css');
@import url('./nav.css');

.nextPage:hover {
    font-weight: bold;
    transform: scale(1.1);
    color: var(--text-color05);
}

.currentPage {
    background-color: #091931 !important;
    cursor: default;
}

/* --header */
/* Stile für den Header der Datenschutzseite */
header {
    background-color: var(--back-color04);
    position: fixed;
    width: calc(100% - 232px);
    height: 96px;
    display: flex;
    align-items: center;
    top: 0;
    left: 232px;
    box-shadow: #00000062 0px 0px 10px 0px;
    z-index: 1;
}

header h1 {
    margin-left: 150px;
    font-weight: 400;
    font-size: 20px;
}

/* --main */
/* Stile für den Hauptbereich der Datenschutzseite */
main {
    background-color: var(--back-color06);
    position: fixed;
    width: calc(100% - 232px);
    height: calc(100% - 96px);
    top: 96px;
    left: 232px;
}

.nextPage:hover {
    font-weight: bold;
    transform: scale(1.1);
    color: var(--text-color05);
}

.currentPage {
    background-color: #091931 !important;
    cursor: default;
}

.activePage {
    display: block;
}