/* main.css */

@import url('./style.css');
@import url('./navBar.css');

/* --header */
/* Stile für den Header */
header {
    background-color: var(--back-color04);
    position: fixed;
    width: calc(100% - 232px);
    height: 96px;
    display: flex;
    align-items: center;
    top: 0;
    left: 232px;
    box-shadow: #00000062 0px 0px 10px 0px;
    z-index: 1;
}

header h1 {
    margin-left: 150px;
    font-weight: 400;
    font-size: 20px;
}

/* --main */
/* Stile für den Hauptbereich */
main {
    background-color: var(--back-color06);
    position: absolute;
    width: calc(100% - 232px);
    height: calc(100% - 96px);
    top: 96px;
    left: 232px;
}