/* main.css */

@import url("./style.css");
@import url("./main/navBar.css");
@import url("./main/summary.css");
@import url("./main/addTask.css");
@import url("./main/dataprotection.css");
@import url("./main/contacts.css");
@import url("./main/board.css");
@import url("./main/popup.css");

/* mobile */
@import url("./mobile/dataprotection.css");
@import url("./mobile/summary.css");
@import url("./mobile/board.css");
@import url("./mobile/addtask.css");
@import url("./mobile/contacts.css");
@import url("./mobile/navBar.css");
@import url("./mobile/popup.css");

/* --body */
/* Stile für den Body */
body {
  background-color: var(--back-color01);
}

/* --header */
/* Stile für den Header */
header {
  background-color: var(--back-color04);
  position: fixed;
  width: calc(100% - 232px);
  height: 96px;
  display: flex;
  align-items: center;
  top: 0;
  left: 232px;
  box-shadow: #00000062 0px 0px 10px 0px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

header h1 {
  margin-left: 64px;
  font-weight: 400;
  font-size: 20px;
}

header div {
  display: flex;
  align-items: center;
  gap: 8px;
}

header div img {
  width: 32px;
  height: 32px;
}
.account-container {
  background-color: var(--back-color04);
  width: 56px;
  height: 56px;
  /* margin-right: 24px; */
  border-radius: 50%;
  border-style: solid;
  border-color: var(--bord-color02);
  border-width: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color09);
  font-weight: 900;
  cursor: pointer;
}

.account-container:hover {
  box-shadow: #00000062 2px 2px 4px 0px;
}

/* --main */
/* Stile für den Hauptbereich */
main {
  position: absolute;
  width: calc(100% - 232px);
  height: calc(100% - 96px);
  top: 96px;
  left: 232px;
  overflow: hidden;
  padding-bottom: 40px;
}

.nologindataprotectionmain {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: unset !important;
  overflow: auto;
  padding: 32px 0;
}

.boardmain,
.addtaskmain,
.dataprotectionmain {
  margin: 32px 64px;
}
.summarymain{
  padding: 32px 0 0 64px;
}

.dataprotectionmain {
  max-width: 80vw;
  height: calc(100vh - 96px - 80px);
  overflow: auto;
  /* padding-bottom: 80px !important; */
}

.contactsmain {
  margin: 0;
}

.msg-err {
  color: red;
  font-size: 15px;
  padding: 8px;
  margin-bottom: -31px;
  display: none;
}

@media (max-width: 1300px) {
  .task {
    height: 500px;
}
  main {
    position: absolute;
    width: 100%;
    height: 85%;
    left: 0;
    overflow: auto;
    padding-bottom: 40px;
  }

  header {
    background-color: var(--back-color04);
    position: absolute;
    width: 100vw;
    height: 96px;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    box-shadow: #00000062 0px 0px 10px 0px;
    z-index: 99;
  }

  header h1 {
    display: none;
  }
  .summarymain{
    /* height: 77.5%; */
    padding: 0;
  }
  .addtaskmain,
  .dataprotectionmain {
    margin: 0;
    overflow-x: hidden;
  }
  .logoheader{
    display: flex !important;
    width: 44px;
  }
}

.logoheader{
  display: none;
}