/* nav.css */

.navBar {
    background-color: var(--back-color05);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 232px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 15px;
}

.navBar figure {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.navBar figure img {
    width: 100px;
    height: 121px;
}

.navBar div {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.navBar div button figure {
    width: 70%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    gap: 16px;
}

.navBar div button figure figcaption {
    color: var(--text-color06);
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    text-align: start;
}

.navBar div button figure img {
    width: 25px;
    height: 25px;
}

.navBar div button {
    width: 100%;
    height: 60px;
    color: var(--text-color06);
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-style: none;
    background-color: transparent;
    margin-top: 1px;
}