/* style.css */

/*
    Definiert benutzerdefinierte CSS-Variablen für Farben und allgemeine Stile.
*/
:root {
    /* Hintergrundfarben */
    --back-color01: #f5f5f5;
    --back-color02: #2a3647;
    --back-color03: #2ba0d2;
    --back-color04: #ffffff;
    --back-color05: #e2e2e2;
    --back-color06: #091931;
    --back-color07: #42526d;
    --back-color08: #a8a8a8;
    --back-color09: #d1d1d1;
    --back-color10: #29ABE2;

    /* Rahmenfarben */
    --bord-color01: #d1d1d1;
    --bord-color02: #2a3647;
    --bord-color03: #2ba0d2;

    /* Textfarben */
    --text-color01: #000000;
    --text-color02: #ffffff;
    --text-color03: #d1d1d1;
    --text-color04: #2a3647;
    --text-color05: #2ba0d2;
    --text-color06: #a8a8a8;
    --text-color07: #CDCDCD;
    --text-color08: #007CEE;
    --text-color09: #29abe2;

    /* nameShortcuts */
    --name-shortcut1: #ff822f;
    --name-shortcut2: #ffffff;
    --name-shortcut3: #d1d1d1;
    --name-shortcut4: #2a3647;
    --name-shortcut5: #2ba0d2;
    --name-shortcut6: #a8a8a8;
    --name-shortcut7: #CDCDCD;

    /* hr-color */
    --hr-color01: #29ABE2;
    --hr-color02: #d1d1d1;
}

/*
    Globale Stile, die auf alle HTML-Elemente angewendet werden.
*/
* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
    color: var(--text-color01);
}

/*
    Stile für spezifische Elemente wie Bilder, Schaltflächen und Links.
*/
img,
button,
a {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
}

button:hover,
a:hover {
    transition: .1s ease-in-out;
}

button {
    cursor: pointer;
}

input:focus {
    outline: none;
}

.d-none {
    display: none !important;
}

/*
    Stile für das makieren von text
*/
::selection {
    background-color: var(--back-color02);
    color: var(--text-color02);
}

/*
    Stile für die Scrollleiste.
*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--back-color09);
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--back-color02);
    border-radius: 10px;
  }

/* Grundlegende Styles für das Dropdown-Menü */
.dropdown-content {
    width: 150px;
    height: 158px;
    display: none;
    position: absolute;
    background-color: var(--back-color02);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0 0 20px 20px;
    z-index: 1;
    top: 96px;
    right: 8px;
  }
  
  /* Styles für die Links im Dropdown-Menü */
  .dropdown-content a {
    width: 100%;
    color: black;
    padding: 4px 24px;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    color: var(--text-color07);
  }
  
  .dropdown-content a:hover {
  color: var(--text-color02);
  }
  
  /* Animation */
  .dropdown-content.show {
    display: flex;
    animation: fadeIn 0.5s;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .logolegalandprivacy{
    width: 64px;
    /* margin: 32px; */
    position: fixed;
    top: 16px;
    left: 16px;
  }

  @media (max-width: 500px) {
    :-webkit-scrollbar {
      width: 1px !important;
      height: 50% !important;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 5px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: var(--back-color02);
      border-radius: 10px;
    }
  }