/* style.css */

:root {
    /* Definiert benutzerdefinierte CSS-Variablen für Farben */
    
    /* Hintergrundfarben */
    --back-color01: #f5f5f5;    /* Hellgrau */
    --back-color02: #2a3647;    /* Dunkelblau */
    --back-color03: #2ba0d2;    /* Hellblau */
    --back-color04: #ffffff;    /* Weiß */
    --back-color05: #2a3647;    /* Dunkelblau */
    --back-color06: #e2e2e2;    /* Hellgrau */

    /* Rahmenfarben */
    --bord-color01: #d1d1d1;    /* Hellgrau */
    --bord-color02: #2a3647;    /* Dunkelblau */
    --bord-color03: #2ba0d2;    /* Hellblau */

    /* Textfarben */
    --text-color01: #000000;    /* Schwarz */
    --text-color02: #ffffff;    /* Weiß */
    --text-color03: #d1d1d1;    /* Hellgrau */
    --text-color04: #2a3647;    /* Dunkelblau */
    --text-color05: #2ba0d2;    /* Hellblau */
    --text-color06: #a8a8a8;    /* Grau */
}

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
    color: var(--text-color01);
}

img,
button,
a {
    -webkit-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

input:focus {
    outline: none;
}

/* --Stile für .nextPage und .currentPage */
/* Stile für die Klassen .nextPage und .currentPage */
.nextPage:hover {
    font-weight: bold;
    transform: scale(1.1);
    color: var(--text-color05);
}

.currentPage {
    background-color: #091931 !important;
    cursor: default;
}

/* --Stile für .activePage */
/* Stile für die Klasse .activePage */
.activePage {
    display: block;
}

/* -- Scrollbar -- */
/* Stile für die Scrollleiste */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background-color: var(--back-color05);
    border-radius: 10px;
    height: 10px;
    cursor: pointer;
}