/* style.css */

:root {
    
    /* background-color */
    --back-color01: #f5f5f5;
    --back-color02: #2a3647;
    --back-color03: #2ba0d2;
    --back-color04: #ffffff;
    --back-color05: #2a3647;
    
    /* border-color */
    --bord-color01: #d1d1d1;
    --bord-color02: #2a3647;
    --bord-color03: #2ba0d2;
    
    /* text-color */
    --text-color01: #000000;
    --text-color02: #ffffff;
    --text-color03: #d1d1d1;
    --text-color04: #2a3647;
    --text-color05: #2ba0d2;
    --text-color06: #a8a8a8;
}

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
    color: var(--text-color01);
}

img,
button,
a {
    -webkit-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

input:focus {
    outline: none;
}