/* style.css */

/*
    Definiert benutzerdefinierte CSS-Variablen für Farben und allgemeine Stile.
*/
:root {
    /* Hintergrundfarben */
    --back-color01: #f5f5f5;
    --back-color02: #2a3647;
    --back-color03: #2ba0d2;
    --back-color04: #ffffff;
    --back-color05: #e2e2e2;
    --back-color06: #091931;
    --back-color07: #42526d;
    --back-color08: #a8a8a8;
    --back-color09: #d1d1d1;

    /* Rahmenfarben */
    --bord-color01: #d1d1d1;
    --bord-color02: #2a3647;
    --bord-color03: #2ba0d2;

    /* Textfarben */
    --text-color01: #000000;
    --text-color02: #ffffff;
    --text-color03: #d1d1d1;
    --text-color04: #2a3647;
    --text-color05: #2ba0d2;
    --text-color06: #a8a8a8;
    --text-color07: #CDCDCD;
    --text-color08: #007CEE;
    --text-color09: #29abe2;

    /* nameShortcuts */
    --name-shortcut1: #ff822f;
    --name-shortcut2: #ffffff;
    --name-shortcut3: #d1d1d1;
    --name-shortcut4: #2a3647;
    --name-shortcut5: #2ba0d2;
    --name-shortcut6: #a8a8a8;
    --name-shortcut7: #CDCDCD;

    /* hr-color */
    --hr-color01: #29ABE2;
    --hr-color02: #d1d1d1;
}

/*
    Globale Stile, die auf alle HTML-Elemente angewendet werden.
*/
* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
    color: var(--text-color01);
}

/*
    Stile für spezifische Elemente wie Bilder, Schaltflächen und Links.
*/
img,
button,
a {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
}

button:hover,
a:hover {
    transition: .1s ease-in-out;
}

button {
    cursor: pointer;
}

input:focus {
    outline: none;
}

/*
    Stile für das makieren von text
*/
::selection {
    background-color: var(--back-color02);
    color: var(--text-color02);
}

/*
    Stile für die Scrollleiste.
*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background-color: var(--back-color08);
    border-radius: 10px;
    cursor: pointer;
}