/* login/login_in.css */

/*
    Stile f端r den Hauptcontainer des Login-Bereichs.
*/
.login {
  z-index: 1;
  background-color: var(--back-color01);
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*
    Stile f端r den Header im Login-Bereich.
*/
.login header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

.login header .logo-container img {
  width: 100px;
  height: 121px;
  cursor: pointer;
  transition: 0.2s;
}

.login header .logo-container img:hover {
    opacity: 0.8;
  }
  

.login header nav {
  height: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.login header nav a {
  width: 91px;
  height: 49px;
  border: none;
  background-color: var(--back-color02);
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  color: var(--text-color02);
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login header nav a:hover {
    background-color: var(--back-color03);
    box-shadow: #00000062 0px 2px 4px 0px;
}

/*
    Stile f端r den Hauptinhalt im Login-Bereich.
*/
.login main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login .formLogin form {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.login .formLogin {
  background-color: var(--back-color04);
  width: 652px;
  height: 493px;
  border-radius: 30px;
  padding: 48px 115px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login .formLogin .formHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login .formLogin .formHeader hr {
  height: 4px;
  border-radius: 8px;
  border-style: none;
  margin-top: 8px;
  width: 150px;
  background-color: var(--back-color03);
}

.login .formLogin .formHeader h1 {
  width: 315px;
  height: 73px;
  font-size: 61px;
  text-align: center;
}

.login .formInput {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.login .formInput .input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-color: var(--bord-color01);
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  width: 422px;
  height: 48px;
  padding: 1px 4px;
}

.login .formInput .input-container input {
  width: 100%;
  border-style: none;
  background-color: transparent;
  padding-left: 16px;
  font-size: large;
}

.login .formInput .input-container input::placeholder {
  color: var(--text-color03);
}

.login .formInput .input-container img {
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin: 16px;
}

.login .formInput div {
  display: flex;
  align-items: center;
  gap: 8px;
  /* height: 100%; */
  /* margin-left: 39px; */
  /* transform: translateY(-25px); */
}

.login .formInput div label {
  font-size: 16px;
  font-weight: 400;
}

.login .formLogin span {
  display: none;
  opacity: 0;
  color: brown;
  transform: translate(5px, -30px);
  font-size: small;
}

.login .formInput div input[type="checkbox"] {
  width: 16px;
  height: 16px;
  border-style: solid;
  border-color: var(--bord-color02);
  border-radius: 3px;
  border-width: 16px;
  cursor: pointer;
}

.login .formInput div input[type="checkbox"]:hover {
  /* transform: scale(1.1); */
}

.login .formLogin .formButtons {
  height: 48px;
  gap: 35px;
  display: flex;
  justify-content: space-around;
}

.login .formLogin .formButtons button:first-child {
  width: 110px;
  border: none;
  background-color: var(--back-color02);
  border-radius: 10px;
  font-weight: 700;
  font-size: 21px;
  color: var(--text-color02);
  transition: 0.2s;
}

.login .formLogin .formButtons button:first-child:hover {
    background-color: var(--back-color03);
    box-shadow: #00000062 0px 2px 4px 0px;
}

.login .formLogin .formButtons button:last-child {
  width: 177px;
  color: var(--text-color04);
  border: 1px solid var(--back-color02);
  background-color: transparent;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  transition: 0.2s;
  font-weight: 700;
}

.login .formLogin .formButtons button:last-child:hover {
  border: 1px solid var(--back-color03);
  color: var(--text-color05);
  box-shadow: #00000062 0px 2px 4px 0px;
}

/*
    Stile f端r den Footer im Login-Bereich.
*/
.login footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 35px;
  margin-bottom: 35px;
  align-items: center;
}

.login footer div {
  width: 246px;
  display: flex;
  gap: 32px;
}

.login footer div a {
  color: var(--text-color06);
  background-color: transparent;
  border-style: none;
  font-size: 16px;
}

.login footer div a:hover {
  transform: scale(1.1);
  color: var(--text-color05);
}
