.logoanimationbg{
  display: block; /* Stelle sicher, dass es angezeigt wird */
  animation: fadeOut 2s forwards;
  width: 100vw;
  height: 100vh;
  background-color: var(--back-color01);
  position: fixed;
  z-index: 99;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    display: block; /* Sichtbar während der Animation */
  }
  100% {
    opacity: 0;
    display: none; /* Komplett ausgeblendet nach der Animation */
  }
}

.bg {
  background-color: var(--back-color01);
}

.loginheader {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 32px 32px;
}

@keyframes moveLogoToCorner {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
  }
  100% {
    top: 32px;  /* Passend zur `loginheader`-Position */
    left: 32px; /* Passend zur `loginheader`-Position */
    transform: translate(0, 0);
    width: 100px; /* Ursprüngliche Breite des Logos */
  }
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  animation: moveLogoToCorner 3s forwards;
  z-index: 9999;
}



.signupcontainerheader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  /* margin-bottom: 71px; */
}

.signupbtn {
  width: 91px;
  height: 49px;
  border-radius: 8px;
  background-color: var(--back-color02);
  font-size: 16px;
  font-weight: 700;
  color: var(--text-color02);
  border: none;
}

.maincontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logincontainer {
  width: 652px;
  /* height: 493px; */
  background-color: var(--back-color04);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 48px 115px;
  gap: 32px;
  box-shadow: #e0e0e0 0px 0px 10px 0px;
  position: fixed;
  top: 22%;
}

.loginheadline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.loginheadline h2 {
  font-size: 61px;
  font-weight: 700;
}

.headline {
  width: 150px;
  border: 2px solid var(--back-color10);
  border-radius: 10px;
}

.loginarea {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.loginareafooter {
  display: flex;
  gap: 16px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 44px;
}

.loginemail,
.loginepassword {
  width: 422px;
  height: 48px;
  border: 1px solid var(--back-color08);
  border-radius: 10px;
  padding: 12px 21px;
  font-size: 20px;
  font-weight: 400;
}

.loginemail::placeholder,
.loginepassword::placeholder {
  color: var(--text-color07);
}

.loginemail {
  background-image: url(/resources/symbols/mail.png);
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
}

.loginepassword {
  background-image: url(/resources/symbols/lock.png);
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
}

.checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: 2px solid var(--back-color02) !important;
}

.loginbtnscontainer {
  display: flex;
  gap: 32px;
}

.loginbtn {
  width: 110px;
  height: 48px;
  border: none;
  border-radius: 8px;
  background-color: var(--back-color02);
  font-size: 21px;
  font-weight: 700;
  color: var(--text-color02);
}

.guestloginbtn {
  width: 177px;
  height: 48px;
  border-radius: 8px;
  background-color: transparent;
  font-size: 21px;
  font-weight: 700;
  color: var(--text-color04);
  border: 1px solid var(--back-color02);
}

.guestloginbtn:hover {
  border: 1px solid var(--back-color03);
  color: var(--text-color05);
  box-shadow: #00000062 0px 2px 4px 0px;
}

.loginfooter {
  height: 44px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 32px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.loginfooter a {
  width: 120px;
  height: 44px;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color06) !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.loginfooter a:hover {
  color: var(--text-color09) !important;
  font-weight: 700;
}

.loginbtn:hover,
.signupbtn:hover {
  background-color: var(--back-color03);
  box-shadow: #00000062 0px 2px 4px 0px;
}

@media (max-width: 1100px) {
  .logo {
    width: 64px;
  }

  @keyframes moveLogoToCorner {
    0% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 180px; /* Startgröße bei kleinen Bildschirmen */
    }
    100% {
      top: 16px;
      left: 32px;
      transform: translate(0, 0);
      width: 64px; /* Endgröße bei kleinen Bildschirmen */
    }
  }

  .maincontainer {
    margin-top: 42px;
  }

  .loginarea {
    width: 90%;
  }

  .logincontainer {
    height: auto;
    width: 396px;
    padding: 32px 0px;
    gap: 32px;
    top: 16%;
  }

  .loginemail,
  .loginepassword {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    padding: 12px 21px;
  }

  .loginareafooter {
    height: auto;
  }

  .loginareafooter p {
    font-size: 16px;
  }

  .loginbtnscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .loginbtn {
    width: 180px;
    font-size: 16px;
  }

  .guestloginbtn {
    font-size: 16px;
    width: 180px;
  }

  .loginheader {
    padding: 16px 0 0 16px;
  }

  .signupcontainerheader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 0;
    position: absolute;
    /* top: 83%; */
    left: 0;
    right: 0;
    bottom: 9vh;
  }

  .logoresponsiv {
    width: 64px;
  }

  .loginheadline {
    gap: 8px;
  }

  .loginheadline h2 {
    font-size: 47px;
    font-weight: 700;
  }

  .signupcontainerheader p {
    font-size: 18px;
  }
}

@media (max-width: 415px) {
  .logincontainer {
    width: 90vw !important;
  }
  .loginheader {
    padding: 8px 0 0 16px;
  }
  .maincontainer {
    margin-top: 8px;
  }
  .signupcontainerheader {
    bottom: 8vh;
  }
}
