.bg {
  background-color: var(--back-color01);
}

.signupheader {
  padding: 32px 32px 0 32px;
}

.logo {
  width: 100px;
}

.signupcontainer {
  background-color: var(--back-color04);
  width: 652px;
  height: 630px;
  border-radius: 30px;
  padding: 48px 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  box-shadow: #e0e0e0 0px 0px 10px 0px;
}

.signupfooter {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 32px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.signupfooter a {
  width: 120px;
  height: 44px;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color06) !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.signupfooter a:hover {
  color: var(--text-color09) !important;
  font-weight: 700;
}

.signupheadline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signupheadline h2 {
  font-size: 61px;
  font-weight: 700;
}

.signupinputcontainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.signupinput {
  width: 422px;
  height: 48px;
  border: 1px solid var(--back-color09);
  border-radius: 10px;
  padding: 12px 21px;
  font-size: 19px;
  font-weight: 400;
  color: var(--text-color03);
}

.signupinput::placeholder {
  color: var(--text-color03);
}

.person {
  background-image: url(/resources/symbols/person.png);
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
}

.mail {
  background-image: url(/resources/symbols/mail.png);
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
}

.lock {
  background-image: url(/resources/symbols/lock.png);
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
}

.privacypolicycontainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.privacypolicycontainer p {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color06);
}

.privacypolicycontainer a {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color09);
  cursor: pointer;
}

.signupbtn2 {
  width: 110px;
  height: 48px;
  border: none;
  border-radius: 8px;
  background-color: var(--back-color02);
  font-size: 19px;
  font-weight: 700;
  color: var(--text-color02);
}

.signupbtn2:hover {
  background-color: var(--back-color03);
  box-shadow: #00000062 0px 2px 4px 0px;
}

.arrow-left-line {
  position: relative;
  cursor: pointer;
  top: 0;
  right: 127px;
}

.arrow-left-line:hover {
  transform: scale(1.1);
}

.topheadline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media (max-width: 1100px) {
  .topheadline {
    gap: 8px;
  }
  .logo {
    width: 64px;
  }

  .signupcontainer {
    width: 396px;
    height: 595px;
    padding: 32px 0px;
  }

  .headline {
    width: 76px;
    border: 2px solid var(--back-color10);
    border-radius: 10px;
  }

  .signupinput {
    width: 100%;
  }

  .signupheader {
    padding: 16px 0 16px 16px;
  }

  .signupheadline h2 {
    font-size: 47px;
    font-weight: 700;
  }

  .signupinputcontainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .arrow-left-line {
    position: fixed;
    cursor: pointer;
    top: 43px;
    right: 30px;
  }

  .signupbtn2 {
    width: 180px;
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .signupcontainer {
    width: 90vw !important;
  }
}

@media (max-height: 800px) {
  .logo {
    width: 64px;
}
  .signupheader {
    padding: 16px 0 0 16px;
  }

  .signupcontainer {
    height: auto;
    width: 90vw;
    padding: 32px 0 32px 0;
    gap: 16px;
  }

  .signupheadline h2 {
    font-size: 32px;
    font-weight: 700;
  }

  .signupfooter {
    /* top: 0; */
    bottom: 8px;
    right: 0;
    left: 0;
  }

  .signupfooter a {
    height: auto;
  }
}

@media (max-height: 500px) {
  .arrow-left-line {
    position: fixed;
    cursor: pointer;
    top: 24px;
    right: 24px;
}
.signupcontainer {
  height: 100vh;
  width: 396px;
  padding: 8px 0 0 0;
  gap: 8px;
  border-radius: 0;
}
.signupinputcontainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.signupheader {
  /* display: none; */
  position: absolute;
  top: 80px;
  padding: 0 3vw;
}
.signupinput {
  height: auto;
  padding: 10px 14px;
}
.signupfooter{
  display: none;
}
}


.signedUpContainerBG{
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f549;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.signedUpContainer{
  width: 312px;
  height: 74px;
  border-radius: 20px;
  background-color: var(--back-color02);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: #292929 0px 0px 2px 0px;
}

.signedUpContainer p{
  color: var(--text-color02);
  font-size: 20px;
  font-weight: 400;
}

.d-nonepopup{
  display: none !important;
}