/* login/start.css */

/*
    Stile f端r das Hauptcontainer des Start-Bereichs.
    @start - Hauptcontainer des Start-Bereichs.
*/
.start figure {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--back-color01);
    animation: aniStart 1.2s ease-in-out;
}

/*
    Stile f端r Bilder im Start-Bereich.
    @start-img - Bilder im Start-Bereich.
*/
.start figure img {
    width: 274px;
    height: 334px;
}

/*
    Animations-Keyframes f端r den Start-Bereich.
    @keyframes aniStart - Animationen f端r den Start-Bereich.
*/
@keyframes aniStart {
    from {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        opacity: 1;
        border-radius: 0 0 50% 0;
    }

    to {
        transform: translate(-70%, -70%) scale(0);
        z-index: 0;
    }
}