/* login/start.css */

/*
    Stile f端r das Hauptcontainer des Start-Bereichs.
    @start - Hauptcontainer des Start-Bereichs.
*/
header figure {
    background-color: transparent;
    animation: aniStart 1.2s ease-in-out;
    border: 0;
}

/*
    Stile f端r Bilder im Start-Bereich.
    @start-img - Bilder im Start-Bereich.
*/
header figure>div {
    background-image: url('../../../resources/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 274px;
    height: 334px;
    animation: aniStartLogo 1.2s ease-in-out;
}

/*
    Animations-Keyframes f端r den Start-Bereich.
    @keyframes aniStart - Animationen f端r den Start-Bereich.
*/
@keyframes aniStart {
    0% {
        position: fixed;
        background-color: var(--back-color01);
        /* display: flex;
        justify-content: center;
        align-items: center; */
        width: 100vw;
        height: 100vh;
        opacity: 1;
        top: 0;
        left: 0;
    }
}

@keyframes aniStartLogo {
    0% {
        transform: translate(50vw, 50vh);
    }
}