<!-- In Extra HTML fürs Popup!! -->
<div class="taskmangermobil">
  
  <div class="taskmanagerContentEdit popupcontent boardmobile">
    <div class="taskcardbigheader">
      <h2>Edit Task</h2>
      <button class="closepopup" onclick="hidePopup('EditTaskcardPopupanimation', 'EdittaskCardpopup')">
        &#x2A2F;
      </button>
    </div>
    <form id="formAddTask" class="Taskedit">
      <section class="layout layoutEdit">
        <div>
          <p>Title<i style="color: red">*</i></p>
          <input type="text" placeholder="Enter a title" id="title">
          <span id="msgErrTitle" class="msg-err"></span>
        </div>

        <div>
          <p>Description</p>
          <textarea placeholder="Enter a Description" id="description"></textarea>
          <span id="msgErrDes" class="msg-err"></span>
        </div>

        <div>
          <fieldset class="assigned">
            <p>Assigned to</p>
            <div class="subtaskinput">
              <div id="assigned" class="assignedUserChose">Chose user</div>
              <!-- <button type="button" id="addAssigned">
                <img src="./resources/symbols/addSubtasks.svg" alt="addSubTask"> -->
              </button>
            </div>
            <div class="userCardsContainer EditUserCards" id="userCardsContainerID"></div>
          </fieldset>
          <div id="selectedPerson"></div>
        </div>
      </section>

      <section class="layout layoutEdit">
        <div>
          <p>Due date<i style="color: red">*</i></p>
          <input type="date" placeholder="dd/mm/yyyy" id="date">
          <span id="msgErrDate" class="msg-err"></span>
        </div>

        <div>
          <p>Prio</p>
          <div class="taskPrio">
            <button type="button" id="urgent">Urgent<img id="urgentimg"
                src="./resources/symbols/Priourgent.png"></button>
            <button type="button" id="medium" class="activBtnPrio">Medium<img id="mediumimg"
                src="./resources/symbols/Priomedium.png"></button>
            <button type="button" id="low">Low<img id="lowimg" src="./resources/symbols/Priolow.png"></button>
          </div>
        </div>

        <div>
          <p>Category<i style="color: red">*</i></p>
          <select id="category">
            <option value="Select task category">Select task category</option>
            <option value="User Story">User Story</option>
            <option value="Technical Task">Technical Task</option>
          </select>
          <span id="msgErrCategory" class="msg-err"></span>
        </div>

        <div>
          <p>Subtask</p>
          <fieldset class="subtask">
            <div class="subtaskinput">
              <input type="text" placeholder="Add new subtask" id="subtask">
              <button type="button" id="addSubTask">
                &#43;
              </button>
            </div>
            <span id="msgErrSubtask" class="msg-err"></span>
            <ul id="subtask-list" class="Editsubtasks"></ul>
          </fieldset>
        </div>
      </section>

      <footer class="taskbottommobileedit">
        <div class="footercontentedit">
          <div>
            <i style="color: red">*</i> This fields are required
          </div>
          <div class="buttonsdimobileedit">
            <button type="reset" class="taskbuttonclear">Clear &#128473</button>
            <button type="button" id="taskbuttonCancel">Cancel</button>
            <button type="submit" class="taskbuttoncreat">Save Task <img src="./resources/symbols/check.svg"
                alt=""></button>
          </div>
        </div>
      </footer>
    </form>
  </div>
</div>