<nav>
  <img class="logo" src="./resources/navLogo.png" alt="navLogo" />

  <div class="navList">
    <a href="./summary.html">
      <img class="navicons" src="./resources/symbols/summary.svg" alt="summary" />
      Summary</a>


    <a href="./board.html">
      <img class="navicons" src="./resources/symbols/board.svg" alt="board" />Board</a>

    <a href="./addTask.html">
      <img class="navicons" src="./resources/symbols/tasks.svg" alt="tasks" />
      Add Task</a>

    <a href="./contacts.html">
      <img class="navicons" src="./resources/symbols/contacts.svg" alt="contacts" />
      Contacts</a>
  </div>

  <div class="dataprotection">
    <a href="./privacypolicy.html">Privacy Policy</a>
    <a href="./legalnotice.html">Legal notice</a>
  </div>
</nav>