<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav>
    <img class="logo" src="./resources/navLogo.svg" alt="navLogo" />
  
    <div class="navList" id="myDIV">
  
      <a class="navBar-btns" href="./summary.html" id="nav-btn0">
        <img class="navicons" src="./resources/symbols/summary.svg" alt="summary" />
        Summary</a>
  
  
      <a class="navBar-btns" href="./board.html" id="nav-btn1">
        <img class="navicons" src="./resources/symbols/board.svg" alt="board" />Board</a>
  
      <a class="navBar-btns" href="./addTask.html" id="nav-btn2">
        <img class="navicons" src="./resources/symbols/tasks.svg" alt="tasks" />
        Add Task</a>
  
      <a class="navBar-btns" href="./contacts.html" id="nav-btn3">
        <img class="navicons" src="./resources/symbols/contacts.svg" alt="contacts" />
        Contacts</a>
  
    </div>
  
  <div class="dataprotection">
      <a class="navBar-btns" href="./privacyPolicy.html" id="nav-btn4">Privacy Policy</a>
      <a class="navBar-btns" href="./legalNotice.html" id="nav-btn5">Legal notice</a>
    </div>
  </nav>
</body>
</html>