<div class="taskcard" onclick="showtaskcardpopup()">
    <p class="taskcardtitle">User Story</p>
    <div class="teskdescription">
      <h3>Kochwelt Page & Recipe Recommender</h3>
      <p>Build start page with recipe recommendation...</p>
    </div>

    <div class="taskprogress">
      <img
        style="height: 8px"
        src="./resources/symbols/Progressbar.png"
        alt=""
      />
      1/2 Subtasks
    </div>

    <div class="taskPersons">
        <div class="nameShortcutContent">
      <div id="nameShortcut" style="background-color: #ff68dc">
        DE
      </div>
      <div id="nameShortcut" style="margin-left: -10px;
     background-color: #ff822f">
        AM
      </div>
      <div id="nameShortcut" style="margin-left: -10px;
     background-color: #19e030">
        BZ
      </div>
    </div>
    <!-- <img src="./resources/symbols/boardmiddleprio.png" alt=""> -->

    </div>

</div>