@media (max-width: 1300px) {
    .list-item {
      width: auto;
    }
    .personCardsmall {
      background-color: var(--back-color01);
      width: 95%;
      height: 78px;
      padding: 15px 24px 15px 24px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 35px;
      border-radius: 10px;
      cursor: pointer;
      margin-bottom: 8px;
      border: 1px solid #d1d1d1;
  }
    .userCardsContainer {
      display: none;
      width: 70%;
      background-color: var(--back-color04);
      border: 1px solid #d1d1d1;
      overflow: auto;
      position:absolute;
      border-radius: 8px;
      flex-direction: column;
      align-items: center;
      padding-top: 6px;
  }
    .footercontent {
      display: flex;
    }
  
    .addtaskmain {
      height: calc(100vh - 251px);
    }
  
    .layout button {
      height: 41px;
      padding: 22px;
      font-size: 20px;
      font-weight: 400;
    }
  
    .layout button p{
      font-size: 26px;
      font-weight: 400;
    }
  
    .taskmanagerContentmobile {
      width: 100%;
      display: flex;
      gap: 8px;
      flex-direction: column;
    }
  
    .taskmangerHeader {
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;
      margin-top: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .taskmangerHeader h2 {
      font-weight: 700;
      font-size: 47px;
      width: 70%;
    }
  
    .trennline {
      display: none;
    }
  
    .taskmanger {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 8px;
      padding: 0 8px 0px 17px;
      /* height: calc(100vh - 70px); */
    }
  
    .taskmangerbottom {
      margin-bottom: 0;
    }
  
    .taskmanagerContent {
      width: 70vw;
      display: flex;
      gap: 16px;
      flex-direction: column;
      padding-bottom: 0;
    }
  
    p{
      margin-bottom: 8px;
    }
  
    .layout {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      /* border: 1px solid black; */
      font-size: 18px;
      gap: 16px;
    }
  
    .assignedUserChose {
      width: 100%;
      border-radius: 10px;
      border: 1px solid #d1d1d1;
      padding-block: 0;
      padding-inline: 0;
      font-size: 16px;
      font-weight: 400;
      padding: 8px 21px 8px 21px;
      display: flex;
  align-items: center;
  }
  
    .layout input {
      width: 100%;
      border-radius: 10px;
      border: 1px solid #d1d1d1;
      padding-block: 0;
      padding-inline: 0;
      font-size: 16px;
      font-weight: 400;
      padding: 8px 21px 8px 21px;
    }
  
    .layout textarea {
      width: 100% !important;
      border-radius: 10px;
      border: 1px solid #d1d1d1;
      font-size: 16px;
      font-weight: 400;
      padding: 8px 21px 8px 21px;
      resize: none;
    }
  
    .layout select {
      width: 100%;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border: 1px solid #d1d1d1;
      font-size: 16px;
      font-weight: 400;
      padding: 8px 21px 8px 21px;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      /* background-image: url(/join/www/resources/symbols/arrow_drop_downaa.png);
      background-repeat: no-repeat;
      background-position: right 15px top 50%; */
      cursor: pointer;
    }
  
    .taskPrio {
      width: auto;
      display: flex;
      gap: 8px;
      flex: 1;
    }
  
    .taskbottom {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: auto;
      position: fixed;
      bottom: 80px;
      left: 0;
      padding: 8px 0 8px 0;
      background-color: var(--back-color01);
    }
  
    main {
      padding-bottom: 40px;
    }
  
    .popupAddtaskHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0 !important;
    }
  
    .popupAddtaskHeader h2 {
      font-weight: 700;
      font-size: 47px !important;
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }
  
  @media (max-width: 1000px) {
    .taskbuttoncreat {
      width: 183px;
      height: 56px;
    }
  
    .taskbuttonclear {
      width: 110px;
      height: 57px;
    }
  }
  
  @media (max-width: 770px) {
    .userCardsContainer {
      width: 96%;
  }
  
    .taskbuttoncreat {
      font-size: 18px;
    }
  
    .taskbuttonclear {
      font-size: 18px;
    }
  
    .footercontent {
      width: 99%;
      font-size: 16px;
    }
  
    .taskbottom {
      flex-direction: column;
      gap: 8px;
    }
  
    .buttonsformobile {
      display: flex;
      justify-content: center;
      padding: 0 12px;
    }
  
    .taskmanagerContent {
      width: 95vw;
      padding-bottom: 0;
    }
  
    .taskPrio {
      width: auto;
      display: flex;
      /* flex-direction: column; */
      gap: 8px;
      flex: 1;
    }
  
    .taskPrio img {
      width: 14px;
    }
  
    .layout button {
      height: 41px;
      padding: 20px;
      font-size: 16px;
      font-weight: 400;
    }
  
    .taskmangerHeader h2 {
      width: 95vw;
    }
  }
  
  @media (max-width: 500px) {
    .popupAddtaskHeader h2 {
      font-size: 32px !important;
    }
  
    .taskcardbig h3 {
      /* font-size: 32px; */
      font-weight: 700;
    }
  
    .footercontent {
      flex-direction: column;
    }
  
    .addtaskmain {
      height: calc(100vh - 267px);
    }
  }