@media (max-width: 1300px) {
    @keyframes slideIn {
      from {
        right: -100%;
      }
      to {
        right: 0;
      }
    }
    @keyframes slideOut {
      from {
        right: 0;
      }
      to {
        right: -100%;
      }
    }
    .information h2 {
      font-size: 16px !important;
    }
    .showContactcard p {
      font-size: 16px;
    }
    .showContactcard h2 {
      font-size: 47px;
    }
    .addEditDeletContactmobile {
      display: flex;
      position: fixed;
      border: none;
      bottom: 103px;
      margin-right: 16px;
      width: 56px;
      height: 56px;
      border-radius: 46px;
      box-shadow: #00000062 0px 4px 4px 0px;
      background-color: var(--back-color02);
      align-items: center;
      justify-content: center;
      z-index: 999;
    }
    .addEditDeletContactmobile:hover {
      background-color: var(--back-color03);
      box-shadow: #00000062 0px 2px 4px 0px;
    }
    .personName p {
      font-weight: 700;
      font-size: 36px;
    }
    .personInfo {
      display: none;
    }
    .personCard {
      width: auto;
      height: 80px;
      display: flex;
      gap: 16px;
      margin-top: 8px;
    }
    .personShortcutmobile {
      width: 80px;
      height: 80px;
      position: relative !important;
      top: 0 !important;
      font-size: 30px;
    }
    .showContactcardTrennlinemobile {
      width: 90px;
      height: 2px;
      background-color: var(--back-color03);
      display: flex;
      position: absolute;
      top: 120px;
    }
  
    .showContactcardTrennline {
      display: none;
    }
    .personTitle {
      /* width: 569px; */
      height: auto;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 4px;
      flex-direction: column;
    }
    .hidecontactcardarrow {
      display: block;
      position: absolute;
      top: 32px;
      right: 16px;
      cursor: pointer;
    }
    .cardcontent {
      width: 352px;
    }
    .card {
      width: 100%;
      padding: 8px;
      gap: 16px;
    }
    .ownContact{
      width: 80vw;
      gap: 16px;
    }
    .cardactive {
      width: 100%;
      padding: 8px;
      gap: 16px;
    }
    .creatbtn {
      width: 202px;
      height: 51px;
      font-size: 21px;
    }
    .cancelbtn {
      display: none;
    }
    .addpersoninput input {
      width: 100%;
      height: 41px;
      padding-left: 16px;
      font-size: 20px;
      font-weight: 400;
      border-radius: 8px;
      border: 1px solid var(--back-color08);
    }
  
    .addpersoninput {
      width: 364px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 24px;
    }
    .usericon {
      width: 120px;
      position: fixed;
      top: 40%;
    }
    .addcontactpopuprightside {
      width: 100%;
      /* height: 171px; */
      display: flex;
      align-items: center;
      gap: 42px;
      flex-direction: column;
    }
    .addcontactpopupleftside {
      width: 396px;
      height: 352px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 0;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding: 66px 24px 66px 24px;
      gap: 12px;
    }
    .savebtn {
      width: 99px;
      height: 51px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .deletebtn {
      width: 82px;
      height: 51px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .testbuttons {
      width: 100%;
      height: auto;
      align-items: center;
      justify-content: center;
    }
  
    .closeeditcontactpopup {
      position: relative;
      top: -127%;
      font-size: 33px;
      left: 42%;
      color: var(--back-color04);
    }
  
    .closeaddcontactpopup {
      position: relative;
      top: -101%;
      font-size: 33px;
      left: 40%;
      color: var(--back-color04);
    }
  
    .editpersoninput input {
      width: 364px;
      height: 41px;
      border-radius: 8px;
      border: 1px solid var(--back-color08);
      padding-left: 16px;
      font-size: 20px;
      font-weight: 400;
    }
  
    .editpersoninput {
      width: auto;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 16px;
    }
  
    .personShortcut {
      position: absolute;
      top: 45.5%;
      margin-bottom: 0 !important;
    }
  
    .editcontactpopuprightside {
      width: auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 32px;
    }
  
    .editcontactpopupleftside {
      width: 396px;
      height: 391px;
      background-color: var(--back-color02);
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 0px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding: 66px 24px;
      gap: 12px;
    }
  
    .editcontactpopupleftside img {
      display: none;
    }
  
    .editcontactpopupcontent {
      flex-direction: column;
      width: 396px;
      height: 724px;
    }
  
    .addcontactpopupcontent {
      flex-direction: column;
      width: 396px;
      height: 724px;
    }
  
    .contactsmain {
      overflow: hidden;
    }
  
    .contacts {
      flex-direction: column;
      overflow-x: hidden;
      width: 100%;
    }
  
    .showContacts {
      width: 100%;
      height: calc(100vh - 178px);
      justify-content: flex-start;
      /* padding-top: 16px; */
      /* overflow: hidden; */
      /* scrollbar-width: auto; */
    }
  
    .OwnCard {
      width: 80vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 16px 0 16px;
      gap: 8px;
    }
    .Contactcards {
      width: 80vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 16px 0 16px;
      gap: 8px;
    }
    #showContactcard {
      position: fixed; /* Wichtig, um das Element von außerhalb des Bildschirms zu bewegen */
      right: -100%;
      display: none;
    }
    .showContactcard {
      position: absolute;
      background-color: var(--back-color01);
      width: 100vw;
      height: 100vh;
      padding: 32px 0 0 16px;
    }
  
    .letter {
      width: 80vw;
      border-bottom: 1px solid var(--back-color08);
    }
  
    .ContactcardsTrennline {
      display: none;
    }
  
    .addNewContact {
      position: fixed;
      bottom: 103px;
      right: 32px;
      width: 56px;
      height: 56px;
      border-radius: 46px;
      box-shadow: #00000062 0px 4px 4px 0px;
    }
  
    .addNewContact p {
      display: none;
    }
    .addcontactpopupleftside h1 {
      font-size: 47px;
    }
    .addcontactpopupleftside p {
      font-size: 20px;
    }
    .addcontactpopupleftside img {
      display: none;
    }
    .addNewContactheader {
      height: auto;
      margin-top: 0;
    }
  }
  
  @media (max-width: 600px) {
    .cardcontent {
      width: 95% !important;
    }
  }
  
  @media (max-width: 420px) {
    .addcontactpopupleftside h1 {
      font-size: 32px;
  }
  .addcontactpopupleftside p {
    font-size: 16px;
}
    .addpersoninput {
      width: 92%;
    }
    .addcontactpopupleftside {
      width: 100%;
      height: 352px;
    }
    .OwnCard {
      width: 90%;
    }
    .Contactcards {
      width: 90%;
    }
  
    .addNewContactheader {
      width: 90%;
    }
  
    .editcontactpopupcontent {
      flex-direction: column;
      width: 95vw;
    }
  
    .addcontactpopupcontent {
      flex-direction: column;
      width: 95vw;
    }
  
    .editcontactpopupleftside {
      width: auto;
    }
  
    .editpersoninput {
      width: 95%;
      justify-content: center;
      align-items: center;
    }
  
    .editpersoninput input {
      width: 95%;
    }
  }
  @media (max-height: 670px) {
    .addcontactpopupcontent{
      height: 95vh;
    }
    .usericon {
      width: 120px;
      position: fixed;
      top: 37%;
  }
  .addcontactpopupleftside {
    width: 100%;
    height: 50%;
}
.addcontactpopuprightside {

  height: auto;


  gap: 0;

}
  }