/* mobile/login_in.css */

@media(max-width:1300px) {
    .login header {
        position: fixed;
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(0, 84vh);
    }

    .login header .logo-container img {
        position: fixed;
        margin-top: 0;
        margin-left: 0;
        width: 64px;
        height: 78.03px;
        transform: translate(0, -83vh);
    }

    .login header nav {
        margin-top: 0;
        margin-right: 0;
    }

    .login main {
        transform: translate(0, 20vh);
        background-color: transparent;
    }

    .login .formLogin {
        width: 100vw;
    }

    .login .formLogin .formHeader hr {
        width: 90px;
    }

    .login .formLogin .formHeader h1 {
        width: 315px;
        height: 56px;
        font-size: 47px;
        text-align: center;
    }

    .login .formInput .input-container {
        width: 90vw;
    }

    .login .formLogin .formButtons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
    }

    .login .formLogin .formButtons button {
        width: 180px !important;
        height: 51px !important;
        padding: 16px 0;
    }

    .login footer {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 35px;
        margin-bottom: 35px;
        align-items: center;
    }

    .login footer div {
        justify-content: space-around;
    }
}