@media(max-width:1300px) {
    nav {
      width: 100vw;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0;
      top: auto;
      gap: 0;
    }
  
    .logo {
      display: none;
    }
    
    .navList {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
    }
    
    nav a {
      width: 80px;
      height: 76px;
      height: 76px;
      color: var(--text-color07);
      text-decoration: none;
      gap: 8px;
      flex-direction: column;
      flex: 1;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.1s;
      font-size: 14px;
      font-weight: 100;
    }
    
    nav a:hover {
      background-color: var(--back-color07);
      color: var(--text-color02);
      border-radius: 8px;
    }
    
    .navicons {
      width: 24px;
      padding-left: 0;
    }
    
    .dataprotection {
      display: none;
    }
  }