/* mobile/signup.css */

@media(max-width:1300px) {
    .signup header .logo-container img {
        margin-top: 37px;
        margin-left: 38px;
        width: 64px;
        height: 78.03px;
    }

    .signup main {
        width: 100vw;
    }

    .signup .formSignup {
        border-radius: 30px;
    }

    .signup .formSignup .formHeader figure {
        cursor: pointer;
        transform: translateX(30px);
    }

    .signup .formSignup .formHeader div hr {
        margin-top: -8px;
        width: 100px;
    }
    
    .signup .formSignup .formHeader div h1 {
        font-size: 47px;
    }

    .signup .formInput .input-container {
        width: 90vw;
    }

    .signup .formSignup .formButtons button {
        width: 180px;
    }

    .signup footer {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 35px;
        margin-bottom: 35px;
        align-items: center;
    }

    .signup footer div {
        justify-content: space-around;
    }
}