/* main/summary.css */

/* Ist nicht (iPhone SE) Optimirt*/
@media(max-width:1300px) {
    .summary-contant>div:nth-of-type(2) {
        width: 100vw;
        height: calc(100% - 20%);
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-top: 40px; */
    }

    .summary-header {
        flex-direction: column;
        align-items: start;
        width: 300px;
        margin-top: 32px;
        padding-left: 8px;
        /* padding: 16px 0 0 16px; */
    }

    .summary-header h2 {
        font-size: 47px;
        line-height: 56.4px;
    }

    .summary-header hr {
        transform: translate(0px, 40px);
        width: 80px;
        padding: 1px;
    }

    .summary-header span {
        font-size: 20px;
        line-height: 24px;
    }

    .summary-main {
        width: 380px;
        /* height: 384px; */
        justify-content: center;
        z-index: 0;
        margin-top: 0;
    }

    .summary-main>div:nth-of-type(1) {
        height: 133px;
        /* gap: 12px; */
    }

    .summary-main>div:nth-of-type(1) figure,
    .summary-main>div:nth-of-type(2) figure {
        width: 186px;
        height: 110px;
        gap: 10px;
    }

    .summary-main>div:nth-of-type(1) figure:first-child {
        margin-right: 0;
    }

    .summary-main>div:nth-of-type(1) figure .image,
    .summary-main>div:nth-of-type(2) figure .image {
        width: 40px;
        height: 40px;
    }

    .summary-main>div:nth-of-type(1) figure figcaption span:first-child,
    .summary-main>div:nth-of-type(2) figure figcaption span:first-child {
        font-size: 47px;
        line-height: 56.4px;
    }

    .summary-main>div:nth-of-type(1) figure figcaption span:last-child,
    .summary-main>div:nth-of-type(2) figure figcaption span:last-child {
        font-size: 14px;
        line-height: 16.8px;
    }

    .summary-main>div:nth-of-type(2) {
        height: 110px;
        justify-content: center;
    }

    .summary-main>div:nth-of-type(2) div {
        padding: 0;
        width: 378px;
    }

    .summary-main>div:nth-of-type(2) figure {
        padding-right: 40px;
        height: 68px;
    }

    .summary-main>div:nth-of-type(2) div span:first-child {
        font-size: 16px;
        line-height: 19.2px;
    }

    .summary-main>div:nth-of-type(2) div span:last-child {
        font-size: 14px;
        line-height: 16.8px;
    }

    .summary-main>div:nth-of-type(3) {
        margin-top: 10px;
    }

    .summary-main>div:nth-of-type(3) div {
        width: 116px;
        height: 116px;
    }

    .summary-main>div:nth-of-type(3) div:nth-of-type(1),
    .summary-main>div:nth-of-type(3) div:nth-of-type(2) {
        margin-right: 0;
    }

    .summary-main>div:nth-of-type(3) div span:first-child {
        font-size: 47px;
        line-height: 56.4px;
    }

    .summary-main>div:nth-of-type(3) div span:last-child {
        font-size: 14px;
        line-height: 16.8px;
    }

    .summary-user span:first-child {
        font-size: 36px;
        font-weight: 400;
        line-height: 0;
    }

    .summary-user span:last-child {
        font-size: 47px;
        font-weight: 700;
        line-height: auto;
    }

    .summary-user {
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(0);
        background-color: var(--back-color05);
        top: 0;
        animation: hideUser 1s forwards 2s;
        gap: 11px;
    }

    @keyframes hideUser {
        0% {
            z-index: 1;
            opacity: 1;
        }

        100% {
            z-index: -1;
            opacity: 0;
        }
    }
}