@media (max-width: 1300px) {
    .welcomemassage {
      margin-left: 0;
      margin-top: 0;
    }
    .welcomecontent {
      width: 100vw;
      height: 100vh;
      background-color: var(--back-color01);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .welcomecontent p {
      font-size: 47px;
      color: var(--text-color04);
      margin: 0;
    }
    .welcomecontent h1 {
      font-size: 64px;
      color: var(--text-color09);
    }
    .summarytop {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 8px;
      margin-top: 32px;
    }
    .verticaltrennline {
      display: none;
    }
    .horizontaltrennline {
      display: block;
      height: 3px;
      width: 90px;
      background-color: var(--back-color10);
    }
    .content {
      gap: 0;
      justify-content: center;
    }
    .summarytopcontent {
      width: 70%;
      flex-direction: column;
      gap: 8px;
      align-items: flex-start;
    }
    .summarytopcontent h1 {
      font-size: 47px;
    }
    .toptrenn {
      flex-direction: column;
      gap: 8px;
      align-items: flex-start;
    }
    .welcomenotecontainer {
      display: none;
    }
    .summarymaincontainer {
      width: 70%;
    }
    .summarybtncontainer {
      width: 100%;
      gap: 2%;
    }
    .todo,
    .done {
      width: 100%;
    }
    .urgent {
      position: unset;
      width: 100%;
      z-index: 0;
    }
    .urgent:hover {
      position: unset;
      z-index: 0;
    }
    .tasksinboard,
    .tasksinprogress,
    .awaitingfeedback {
      width: 100%;
    }
  }
  
  @media (max-width: 800px) {
    .summarymain {
      height: calc(100vh - 176px);
    }
    .summarytop {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 8px;
      margin-top: 32px;
    }
    .summarytopcontent {
      width: 70%;
      flex-direction: column;
      gap: 8px;
      align-items: flex-start;
    }
    .summarytopcontent h1 {
      font-size: 47px;
    }
    .summarytop p {
      font-size: 20px;
    }
    .summarymaincontainer {
      margin-top: 32px;
      width: 85vw;
      height: 384px;
      gap: 0;
    }
    .summarybtncontainer {
      width: 100%;
      gap: 8px;
    }
    .todo,
    .done {
      height: 120px;
      gap: 10px;
      border-radius: 20px;
    }
    .urgent {
      height: 120px;
      gap: 5%;
      padding: 8px;
    }
    .tasksinboard,
    .tasksinprogress,
    .awaitingfeedback {
      height: 120px;
    }
    .summarybtn img {
      width: 40px;
    }
    .innersummarybtn h2 {
      font-size: 47px;
    }
    .innersummarybtn p {
      font-size: 14px;
    }
    @media (max-width: 770px) {
      .summarytopcontent {
        width: 95vw;
    }
  
    }
  }