/* login/dataprotection.css */

/* --nav */
.nav_dataprotection {
    background-color: var(--back-color05);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 232px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav_dataprotection figure {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.nav_dataprotection figure img {
    width: 100px;
    height: 121px;
}

.nav_dataprotection div {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.nav_dataprotection div button {
    width: 100%;
    height: 60px;
    color: var(--text-color06);
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    background-color: transparent;
}

/* --header */
header {
    background-color: var(--back-color04);
    position: fixed;
    width: calc(100% - 232px);
    height: 96px;
    display: flex;
    align-items: center;
    top: 0;
    left: 232px;
    box-shadow: #00000062 0px 0px 10px 0px;
    z-index: 1;
}

header h1 {
    margin-left: 150px;
    font-weight: 400;
    font-size: 20px;
}

/* --main */
main {
    background-color: var(--back-color06);
    position: absolute;
    width: calc(100% - 232px);
    height: 100%;
    top: 96px;
    left: 232px;
}

.privacyPolicy {
    display: none;
}

.privacyPolicy div {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 70px;
}

.privacyPolicy div h2 {
    font-weight: 700;
    font-size: 61px;
}

.privacyPolicy div img {
    width: 32px;
    height: 32px;
}

.privacyPolicy div img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.privacyPolicy .contant section {
    margin: 30px;
    margin-left: 70px;
    margin-right: 70px;
}

.privacyPolicy .contant section h3 {
    font-weight: 700;
    font-size: 27px;
}

.privacyPolicy .contant section p {
    font-weight: 400;
    font-size: 16px;
}

.legalNotice {
    display: none;
}

.legalNotice div {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 70px;
}

.legalNotice div h2 {
    font-weight: 700;
    font-size: 61px;
}

.legalNotice div img {
    width: 32px;
    height: 32px;
}

.legalNotice div img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.legalNotice .contant section {
    margin: 30px;
    margin-left: 70px;
    margin-right: 70px;
}

.legalNotice .contant section h3 {
    font-weight: 700;
    font-size: 27px;
}

.legalNotice .contant section p {
    font-weight: 400;
    font-size: 16px;
}

.legalNotice .contant section ul {
    margin: 20px 0;
}

.legalNotice .contant section span {
    color: var(--text-color05);
}

.nextPage:hover {
    font-weight: bold;
    transform: scale(1.1);
    color: var(--text-color05);
}

.currentPage {
    background-color: #091931 !important;
    cursor: default;
}

.activePage {
    display: block;
}