/* login/login_in.css */

.login {
    z-index: 1;
    background-color: var(--back-color01);
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* -- login header */
.login header {
    display: flex;
    justify-content: space-between;
}

.login header .logo-container img {
    margin-top: 80px;
    margin-left: 77px;
    width: 100px;
    height: 121px;
}

.login header nav {
    height: 49px;
    margin-top: 67px;
    margin-right: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

.login header nav button {
    width: 91px;
    height: 49px;
    border-radius: 8px;
    border-style: none;
    padding: 15px 16px;
    font-weight: 700;
    background-color: var(--back-color02);
    color: var(--text-color02);
}

.login header nav button:hover {
    background-color: var(--back-color03);
}

/* -- login main */
.login main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login .formLogin form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login .formLogin {
    background-color: var(--back-color04);
    width: 652px;
    height: 493px;
    border-radius: 30px;
    padding: 48px 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login .formLogin .formHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login .formLogin .formHeader hr {
    height: 4px;
    border-radius: 8px;
    border-style: none;
    margin-top: 8px;
    width: 150px;
    background-color: var(--back-color03);
}

.login .formLogin .formHeader h1 {
    width: 315px;
    height: 73px;
    font-size: 61px;
    text-align: center;
}

.login .formInput {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.login .formInput .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: var(--bord-color01);
    border-radius: 10px;
    border-style: solid;
    width: 422px;
    height: 48px;
    padding: 1px 4px;
}

.login .formInput .input-container input {
    width: 100%;
    border-style: none;
    background-color: transparent;
    padding-left: 16px;
    font-size: large;
}

.login .formInput .input-container input::placeholder {
    color: var(--text-color03);
}

.login .formInput .input-container img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    margin: 16px;
}

.login .formInput div {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 24px;
    margin-left: 39px;
}

.login .formInput div label {
    font-size: 16px;
    font-weight: 400;
}

.login .formInput div input[type='checkbox'] {
    width: 16px;
    height: 16px;
    border-style: solid;
    border-color: var(--bord-color02);
    border-radius: 3px;
    border-width: 16px;
}

.login .formInput div input[type='checkbox']:hover {
    transform: scale(1.1);
}

.login .formLogin .formButtons {
    height: 48px;
    gap: 35px;
    display: flex;
    justify-content: space-around;
}

.login .formLogin .formButtons button:first-child {
    width: 110px;
    background-color: var(--back-color05);
    color: var(--text-color02);
    border-style: none;
    border-radius: 8px;
    font-size: 21px;
}

.login .formLogin .formButtons button:first-child:hover {
    background-color: var(--back-color03);
}

.login .formLogin .formButtons button:last-child {
    width: 177px;
    background-color: transparent;
    border-radius: 8px;
    border-color: var(--bord-color02);
    border-style: solid;
    font-size: 21px;
    font-weight: 700;
    color: var(--text-color04);
}

.login .formLogin .formButtons button:last-child:hover {
    border-color: var(--bord-color03);
    color: var(--text-color05);
}

/* -- login footer */
.login footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35px;
    margin-bottom: 35px;
    align-items: center;
}

.login footer div {
    width: 246px;
    display: flex;
    justify-content: space-between;
}

.login footer div button {
    color: var(--text-color06);
    background-color: transparent;
    border-style: none;
}

.login footer div button:hover {
    font-weight: bold;
    transform: scale(1.1);
    color: var(--text-color05);
}