/* main/dataprotection.css */

@media(max-width:1300px) {
    .dataprotectionmain {
        margin: 0 !important;
        min-width: 100vw;
        padding: 40px 16px;
    }

    .help div h2,
    .privacyPolicy div h2,
    .legalNotice div h2 {
        padding-top: 27px;
    }

    .help div:first-child h2,
    .privacyPolicy div:first-child h2,
    .legalNotice div:first-child h2 {
        font-size: 47px;
        padding-top: 0;
        padding-bottom: 10px;
    }
}