/* main/addTask.css */

/*
  Styles für den Taskmanager-Bereich.
  Definiert das Layout und die Stilelemente für die Taskverwaltung.
*/
/* p{
  margin-bottom: 8px;
} */
#selectedPerson{
  display: flex;
  padding: 8px;
}

.Personcardcheckbox{
  width: 18px !important;
  padding: 0 !important;
  cursor: pointer !important;
}
.Initialenperson{
  width: 42px;
  height: 42px;
  border: 2px solid;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color02);
  font-size: 12px;
}

.personCardsmall{
  background-color: var(--back-color01);
  width: 352px;
  height: 78px;
  padding: 15px 24px 15px 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 8px;
  border: 1px solid #d1d1d1;
}

.personCardsmall:hover{
  background-color: var(--back-color05);
}

.userCardsContainer{
  display:none;
  width:456px; 
  height:180px; 
  background-color: var(--back-color04);
  border: 1px solid #d1d1d1;
  overflow: auto;
  position: fixed;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  padding-top: 6px;
}

.assigned{
border: none;
padding: 0;
}

#assigned-list{
  padding: 0;
}

.taskmanger {
  width: 946px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.taskmangermobil {
  /* width: 946px; */
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.taskmangerHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.taskmangerHeader h2 {
  font-weight: 700;
  font-size: 61px;
}

.taskmanagerContent {
  display: flex;
  gap: 12px;
  /* flex-direction: column; */
}

.layout {
  width: 100%;
  height: 430px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  /* border: 1px solid black; */
  font-size: 18px;
  gap: 32px;
  overflow: auto;
  /* padding-right: 4px; */
}

.layout form {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.layout input {
  width: 100%;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding-block: 0;
  padding-inline: 0;
  font-size: 20px;
  font-weight: 400;
  padding: 12px 21px 12px 21px;
}

.layout input::placeholder {
  color: #d1d1d1;
}

.layout input[type="date"] {
  text-transform: uppercase;
}

.layout textarea {
  width: 100%;
  height: 120px !important;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  font-size: 20px;
  font-weight: 400;
  padding: 12px 21px 12px 21px;
  resize: none;
}

.layout textarea::placeholder {
  color: #d1d1d1;
}

.layout select {
  width: 100%;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  font-size: 20px;
  font-weight: 400;
  padding: 12px 40px 12px 21px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(/join/www/resources/symbols/arrow_drop_downaa.png);
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
  cursor: pointer;
  color: var(--text-color01);
}

.layout select p {
  color: var(--text-color01) !important;
}

.assignedUserChose{
  background-color: white;
  width: 100%;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  font-size: 20px;
  font-weight: 400;
  padding: 12px 40px 12px 21px;
  background-image: url(/join/www/resources/symbols/arrow_drop_downaa.png);
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
  cursor: pointer;
  color: #d1d1d1;
}

.popupcontent {
  flex-direction: column;
}

.trennlinewidht {
  border: 1px solid #d1d1d1;
}

.trennline {
  height: 424px;
  border: 1px solid #d1d1d1;
}

.taskPrio {
  /* width: 440px; */
  display: flex;
  gap: 8px;
  flex: 1;
}

.layout button {
  width: 32px;
  height: 56px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  font-size: 20px;
  font-weight: 400;
  padding: 12px 21px 12px 21px;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  gap: 8px;
  font-size: 21px;
  background-color: var(--back-color04);
}
.layout button p{
  font-size: 26px;
  font-weight: 400;
  color: var(--back-color02);
}

.layout button:hover {
  background-color: #2ba0d2;
  color: #fff;
}

.layout button p:hover{
  color: var(--back-color01);
}

.layout .activBtnPrio {
  background-color: #2a3647;
  color: #fff;
}

.subtask {
  border: none;
  padding: 0;
}

.addSubtask {
  width: 440px;
  height: 48px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding-block: 0;
  padding-inline: 0;
  font-size: 20px;
  font-weight: 400;
  padding: 12px 21px 12px 21px;
  display: flex;
  justify-content: space-between;
}

.subtaskinput {
  display: flex;
  cursor: pointer;
  width: 100%;
}

.subtaskinput input {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.subtaskinput button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  height: 48px !important;
}

#subtask-list {
  padding: 8px 0;
}

.list-item {
  background-color: var(--back-color01);
  width: 95%;
  height: 78px;
  padding: 15px 24px 15px 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 8px;
  border: 1px solid #d1d1d1;
}

.list-item-text {
  background-color: transparent;
  border-style: none !important;
  pointer-events: none;
}

.list-item-option {
  display: flex;
  gap: 4px;
}

.list-item-option button img {
  padding: 16px;
  width: 48px;
  height: 48px;
}

.taskbottom {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.taskbuttonclear {
  width: 110px;
  height: 57px;
  border: 1px solid var(--back-color02);
  background-color: transparent;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  transition: 0.2s;
}

.taskbuttonclear:hover {
  border: 1px solid var(--back-color03);
  color: var(--text-color05);
  box-shadow: #00000062 0px 2px 4px 0px;
}

.taskbuttoncreat {
  width: 183px;
  height: 57px;
  border: none;
  background-color: var(--back-color02);
  border-radius: 10px;
  font-weight: 700;
  font-size: 21px;
  color: var(--text-color02);
  transition: 0.2s;
}

.taskbuttoncreat:hover {
  background-color: var(--back-color03);
  box-shadow: #00000062 0px 2px 4px 0px;
}

.taskcardbig {
  /* width: 370px; */
  /* background-color: var(--back-color05); */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.taskcardbigheader {
  display: flex;
  height: 36px;
  align-items: center;
  justify-content: space-between;
}

.taskcardbig h3 {
  font-size: 36px;
  font-weight: 700;
}

.taskcardbig p {
  font-size: 16px;
  font-weight: 400;
}

.taskcardbigprogress {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}

.taskcardbigdate {
  display: flex;
  align-items: center;
  gap: 16px;
}

.taskcardbigdate p {
  color: var(--text-color04);
}

.taskcardbigdate i {
  font-size: 16px;
  font-style: normal;
}

.taskcardbigpriority {
  display: flex;
  align-items: center;
  gap: 33px;
}

.taskcardbigpriority p {
  color: var(--text-color04);
}

.taskcardbigpriority i {
  font-size: 16px;
  font-style: normal;
}

.taskcardbigassignedto {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.taskcardbigassignedto p {
  color: var(--text-color04);
}

.taskcardbigassignedto i {
  font-size: 16px;
  font-style: normal;
}

.taskcardbigassignedtoperson {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 16px;
  font-size: 16px;
}

.taskcardbigsubtasks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}

.taskcardbigsubtaskscheckbox {
  margin-left: 16px;
  font-size: 16px;
  display: flex;
  gap: 8px;
}

.taskcardbigsubtaskscheckbox input {
  cursor: pointer;
  border: none;
}

.taskcardbigeditdelete {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.taskcardbigeditdelete button {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: none;
  background-color: transparent;
  color: var(--text-color04);
  font-size: 16px;
  transition: 0.2s;
}

.taskcardbigeditdelete button:hover {
  opacity: 0.4;
}

.buttonstrennline {
  width: 1px;
  height: 24px;
  background-color: var(--text-color06);
}

.footercontent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonsformobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

@media (max-width: 1300px) {
  .list-item {
    width: auto;
  }
  .personCardsmall {
    background-color: var(--back-color01);
    width: 95%;
    height: 78px;
    padding: 15px 24px 15px 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 8px;
    border: 1px solid #d1d1d1;
}
  .userCardsContainer {
    display: none;
    width: 70%;
    background-color: var(--back-color04);
    border: 1px solid #d1d1d1;
    overflow: auto;
    position:absolute;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    padding-top: 6px;
}
  .footercontent {
    display: flex;
  }

  .addtaskmain {
    height: calc(100vh - 251px);
  }

  .layout button {
    height: 41px;
    padding: 22px;
    font-size: 20px;
    font-weight: 400;
  }

  .layout button p{
    font-size: 26px;
    font-weight: 400;
  }

  .taskmanagerContentmobile {
    width: 100%;
    display: flex;
    gap: 8px;
    flex-direction: column;
  }

  .taskmangerHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .taskmangerHeader h2 {
    font-weight: 700;
    font-size: 47px;
    width: 70%;
  }

  .trennline {
    display: none;
  }

  .taskmanger {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding: 0 8px 0px 17px;
    /* height: calc(100vh - 70px); */
  }

  .taskmangerbottom {
    margin-bottom: 0;
  }

  .taskmanagerContent {
    width: 70vw;
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding-bottom: 0;
  }

  p{
    margin-bottom: 8px;
  }

  .layout {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* border: 1px solid black; */
    font-size: 18px;
    gap: 16px;
  }

  .assignedUserChose {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    padding-block: 0;
    padding-inline: 0;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 21px 8px 21px;
    display: flex;
align-items: center;
}

  .layout input {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    padding-block: 0;
    padding-inline: 0;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 21px 8px 21px;
  }

  .layout textarea {
    width: 100% !important;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 21px 8px 21px;
    resize: none;
  }

  .layout select {
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 21px 8px 21px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* background-image: url(/join/www/resources/symbols/arrow_drop_downaa.png);
    background-repeat: no-repeat;
    background-position: right 15px top 50%; */
    cursor: pointer;
  }

  .taskPrio {
    width: auto;
    display: flex;
    gap: 8px;
    flex: 1;
  }

  .taskbottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    position: fixed;
    bottom: 80px;
    left: 0;
    padding: 8px 0 8px 0;
    background-color: var(--back-color01);
  }

  main {
    padding-bottom: 40px;
  }

  .popupAddtaskHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0 !important;
  }

  .popupAddtaskHeader h2 {
    font-weight: 700;
    font-size: 47px !important;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

@media (max-width: 1000px) {
  .taskbuttoncreat {
    width: 183px;
    height: 56px;
  }

  .taskbuttonclear {
    width: 110px;
    height: 57px;
  }
}

@media (max-width: 770px) {
  .userCardsContainer {
    width: 96%;
}

  .taskbuttoncreat {
    font-size: 18px;
  }

  .taskbuttonclear {
    font-size: 18px;
  }

  .footercontent {
    width: 99%;
    font-size: 16px;
  }

  .taskbottom {
    flex-direction: column;
    gap: 8px;
  }

  .buttonsformobile {
    display: flex;
    justify-content: center;
    padding: 0 12px;
  }

  .taskmanagerContent {
    width: 95vw;
    padding-bottom: 0;
  }

  .taskPrio {
    width: auto;
    display: flex;
    /* flex-direction: column; */
    gap: 8px;
    flex: 1;
  }

  .taskPrio img {
    width: 14px;
  }

  .layout button {
    height: 41px;
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
  }

  .taskmangerHeader h2 {
    width: 95vw;
  }
}

@media (max-width: 500px) {
  .popupAddtaskHeader h2 {
    font-size: 32px !important;
  }

  .taskcardbig h3 {
    font-size: 32px;
    font-weight: 700;
  }

  .footercontent {
    flex-direction: column;
  }

  .addtaskmain {
    height: calc(100vh - 267px);
  }
}