.board {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 56px;
}

.BoardTop {
  width: 1056px;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.BoardTop h1 {
  font-size: 61px;
}

.BoardTop div {
  display: flex;
  gap: 32px;
}

#boardSearch {
  width: 312px;
  height: 48px;
  padding: 8px 16px 8px 16px;
  border-radius: 10px;
  border: 1px solid var(--back-color08);
  display: flex;
  justify-content: center;
  align-items: center;
}

#boardSearch::placeholder {
  opacity: 0.5;
}

.BoardTop button {
  width: 160px;
  height: 48px;
  border: none;
  background-color: var(--back-color02);
  border-radius: 10px;
  font-weight: 700;
  font-size: 21px;
  color: var(--text-color02) !important;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.BoardTop button:hover {
  background-color: var(--back-color03);
  box-shadow: #00000062 0px 2px 4px 0px;
}

.taskBoard {
  display: flex;
  gap: 26px;
  padding-left: 8px;
}

.taskBoard h3 {
  font-size: 20px;
  font-weight: 700;
}

.task {
  width: 246px;
  height: 688px;
  /* background-color: aquamarine; */
}

.taskheadline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.taskheadline button {
  border: 2px solid var(--back-color02);
  border-radius: 8px;
  padding: 3px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  color: var(--text-color04);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
}

.taskheadline button:hover {
  border: 2px solid var(--back-color03);
  color: var(--text-color05);
}

.taskList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  height: 100vh;
  transition: background-color 0.2s ease-in-out;
  border-radius: 10px;
}

.taskList.drag-over {
  height: 70vh;
  border: 1px dashed var(--back-color07);
}

.tasktnotfound {
  width: 246px;
  height: 48px;
  border: 1px dashed var(--back-color07);
  border-radius: 10px;
  background-color: var(--back-color05);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}

.tasktnotfound p {
  opacity: 0.4;
}

.taskcard {
  width: 246px;
  height: 263px;
  border-radius: 24px;
  background-color: var(--back-color04);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: #78787862 0px 0px 5px 0px;
  padding: 16px;
  gap: 24px;
  cursor: pointer;
  transition: 0.1s;
  transform-origin: center left;
  /* Set the transform origin to the center left */
}

.taskcard:hover {
  box-shadow: #78787862 0px 0px 5px 2px;
  transform: scale(1.02);
  /* Scale and rotate slightly on hover */
}

.taskcard.drag-over {
  border: 2px dashed #ccc;
  background-color: rgba(0, 0, 0, 0.05);
}

.taskcard.invisible {
  opacity: 0.6;
}

.teskdescription {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.teskdescription h3 {
  font-size: 16px;
  font-weight: 700;
}

.teskdescription p {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color06);
}

.taskcardtitle {
  width: 113px;
  height: 27px;
  border-radius: 8px;
  padding: 4px 16px 4px 16px;
  background-color: #0038ff;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color02);
  display: flex;
  align-items: center;
  justify-content: center;
}

.taskprogress {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}

.taskPersons {
  display: flex;
  justify-content: flex-end;
}

.taskPersons img {
  width: 17px;
}

.nameShortcutContent {
  display: flex;
}

#nameShortcut {
  width: 42px;
  height: 42px;
  border: 2px solid;
  /* Added 'solid' to specify border style */
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color02);
  font-size: 12px;
  background-color: rgb(127, 44, 44);
}

.hidethisaddbutton {
  display: none !important;
}

.taskbottommobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
}

.taskbottommobilebuttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
}

@media (max-width: 1300px) {
  .boardmain {
    height: calc(100vh - 176px);
  }

  .board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
    /* height: calc(100vh - 176px); */
  }

  .BoardTop {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    flex-direction: column;
    padding: 0 10px;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .BoardTop div {
    width: 70%;
    display: flex;
    gap: 0;
    align-items: center;
    justify-content: space-between;
  }

  .BoardTop h1 {
    font-size: 47px;
  }

  .hidethisbutton {
    display: none !important;
  }

  .hidethisaddbutton {
    display: flex !important;
  }

  .BoardTop button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: var(--back-color02);
    border-radius: 10px;
    font-weight: 700;
    font-size: 21px;
    color: var(--text-color02) !important;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  #boardSearch {
    width: 100%;
    height: 48px;
    padding: 8px 16px 8px 16px;
    border-radius: 10px;
    border: 1px solid var(--back-color08);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .taskBoard {
    display: flex;
    gap: 26px;
    flex-direction: column;
    width: 70%;
    align-items: center;
    padding: 0 10px;
    padding-bottom: 14px;
  }

  .task {
    width: 100%;
    height: auto;
    /* background-color: aquamarine; */
  }

  .tasktnotfound {
    width: 100%;
    height: 48px;
    border: 1px dashed var(--back-color07);
    border-radius: 10px;
    background-color: var(--back-color05);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
  }

  .taskList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    height: auto;
  }
}

@media (max-width: 770px) {
  .taskBoard {
    width: 90%;
  }
  .BoardTop div {
    width: 90%;
}
}