#PERSONS {
  max-height: 180px;
  overflow: auto;
}

.board {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 56px;
}

.BoardTop {
  width: 1056px;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.BoardTop h1 {
  font-size: 61px;
}

.BoardTop div {
  display: flex;
  gap: 32px;
}

#boardSearch {
  width: 312px;
  height: 48px;
  padding: 8px 16px 8px 16px;
  border-radius: 10px;
  border: 1px solid var(--back-color08);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/resources/symbols/search.png);
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
}

#boardSearch::placeholder {
  opacity: 0.5;
}

.BoardTop button {
  width: 160px;
  height: 48px;
  border: none;
  background-color: var(--back-color02);
  border-radius: 10px;
  font-weight: 700;
  font-size: 21px;
  color: var(--text-color02) !important;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.BoardTop button:hover {
  background-color: var(--back-color03);
  box-shadow: #00000062 0px 2px 4px 0px;
}

.taskBoard {
  display: flex;
  gap: 26px;
  /* padding-left: 8px; */
}

.taskBoard h3 {
  font-size: 20px;
  font-weight: 700;
}

.task {
  /* width: 246px; */
  height: 613px;
  /* background-color: #ffffff; */
  padding: 8px;
  border-radius: 8px;
}

.taskheadline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.taskheadline button {
  border: 2px solid var(--back-color02);
  border-radius: 8px;
  padding: 3px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  color: var(--text-color04);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
}

.taskheadline button:hover {
  border: 2px solid var(--back-color03);
  color: var(--text-color05);
}

.taskList {
  width: 276px;
  height: 565px !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  transition: background-color 0.2s ease-in-out;
  border-radius: 6px;
  overflow: auto;
  overflow-x: hidden;
  padding: 8px 0;
  border: 2px dashed #b6b6b69d;
}

.taskList.drag-over {
  height: 70vh;
}

.drop-hover {
  height: 70vh;
  border: 2px dashed #888888;
  background-color: #5c5c5c2a;
}

.tasktnotfound {
  width: 246px;
  height: 48px;
  border: 1px solid #0000001a;
  border-radius: 12px;
  background-color: #2929292a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}

.tasktnotfound p {
  opacity: 0.6;
}

.taskcard {
  width: 246px;
  height: auto;
  border-radius: 24px;
  background-color: var(--back-color04);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: #78787862 0px 0px 5px 0px;
  padding: 16px;
  gap: 24px;
  cursor: pointer;
  transition: 0.1s;
  transform-origin: center left;
  /* Set the transform origin to the center left */
}

.taskcard:hover {
  box-shadow: #78787862 0px 0px 5px 2px;
  transform: scale(1.02);
  /* Scale and rotate slightly on hover */
}

.taskcard.drag-over {
  border: 2px dashed #ccc;
  background-color: rgba(0, 0, 0, 0.05);
}

.taskcard.invisible {
  opacity: 0.6;
}

.teskdescription {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.teskdescription h3 {
  font-size: 16px;
  font-weight: 700;
}

.teskdescription p {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color06);
}

.taskcardtitle {
  /* width: 113px; */
  height: 27px;
  border-radius: 8px;
  padding: 4px 16px 4px 16px;
  background-color: #0038ff;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color02);
  display: flex;
  align-items: center;
  justify-content: center;
}

.taskprogress {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}

.taskPersons {
  display: flex;
  justify-content: flex-start;
}

.taskPersons img {
  width: 17px;
}

.nameShortcutContent {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
}

#nameShortcut {
  width: 42px;
  height: 42px;
  border: 2px solid;
  /* Added 'solid' to specify border style */
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color02);
  font-size: 12px;
  background-color: rgb(127, 44, 44);
}

.hidethisaddbutton {
  display: none !important;
}

.taskbottommobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
}

.taskbottommobilebuttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
}
/* .showthiswidht {
  width: auto !important;
} */

.taskbottommobilesmall {
  display: none;
}

.boardmobile {
  width: 100%;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

#TaskcardPopupanimation.show {
  animation: slideInFromRight 0.3s ease-out forwards;
}

#TaskcardPopupanimation.hide {
  animation: slideOutToRight 0.3s ease-out forwards;
}

#addTaskcardPopupanimation.show {
  animation: slideInFromRight 0.3s ease-out forwards;
}

#addTaskcardPopupanimation.hide {
  animation: slideOutToRight 0.3s ease-out forwards;
}

.PrioContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: auto;
}

.PrioContainer img {
  width: 16px;
  height: 16px;
}

#taskNotFound {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 5;
  background-color: transparent;
  font-size: large;
}
