main {
  padding-bottom: 0 !important;
}

body {
  overflow: hidden;
}

.contacts {
  /* background-color: blanchedalmond; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.showContacts {
  width: 456px;
  background-color: var(--back-color04);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  box-shadow: #00000062 0px 0px 10px 0px;
  z-index: 999;
  flex-direction: column;
  height: calc(100vh - 96px);
  padding-top: 152px;
  scrollbar-width: thin;
}

.showContactcard {
  /* background-color: red; */
  padding: 90px 0 0 45px;
  display: flex;
  align-items: flex-start;
  gap: 32px;
  flex-direction: column;
}

.showContactcard h2 {
  font-size: 61px;
}

.showContactcard p {
  font-size: 27px;
}

.showContactcard h3 {
  font-size: 20px;
  font-weight: 400;
}

.showContactcardTrennline {
  background-color: var(--back-color03);
  width: 3px;
  height: 59px;
}

.addNewContactheader {
  /* background-color: aquamarine; */
  height: 101px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: #00000062 0px 2px 4px 0px;  */
}

.addNewContact {
  width: 352px;
  height: 56px;
  border-radius: 10px;
  padding: 5px 0 5px 0;
  background-color: var(--back-color02);
  border: 1px;
  color: var(--text-color02);
  font-size: 21px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  transition: 0.2s;
}

.addNewContact:hover {
  background-color: var(--back-color03);
  box-shadow: #00000062 0px 2px 4px 0px;
}

.Contactcards {
  /* background-color: aquamarine; */
  height: 100vh;
}

.letter {
  width: 352px;
  height: 58px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 17px 36px 17px 36px;
}

.ContactcardsTrennline {
  background-color: var(--back-color05);
  width: 352px;
  height: 1px;
  margin: 8px 0 8px 0;
}

.card {
  width: 352px;
  height: 78px;
  padding: 15px 24px 15px 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 8px;
}

.card a {
  font-size: 16px;
  color: var(--text-color08);
}

.card p {
  font-size: 20px;
}

.card:hover {
  /* wenn angeklickt dann --> background-color: var(--back-color02); */
  background-color: var(--back-color01);
  color: var(--text-color02) !important;
}

.card:hover p {
  color: var(--text-color01);
  /* wenn angeklickt dann --> color: var(--text-color02); */
}

.cardactive {
  background-color: var(--back-color02);
  width: 352px;
  height: 78px;
  padding: 15px 24px 15px 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 8px;
}

.cardactive a {
  font-size: 16px;
  color: var(--text-color08);
}

.cardactive p {
  font-size: 20px;
  color: var(--text-color02);
}

#nameShortcut {
  width: 42px;
  height: 42px;
  border: 2px solid; /* Added 'solid' to specify border style */
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color02);
  font-size: 12px;
  background-color: rgb(127, 44, 44);
}

.personTitle {
  width: 569px;
  height: 73px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.personCard {
  width: 461px;
  height: 120px;
  display: flex;
  gap: 54px;
}

.personShortcut {
  width: 120px;
  height: 120px;
  background-color: rgb(255, 123, 0);
  border-radius: 100%;
  color: var(--text-color02);
  font-size: 47px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--back-color04);
}

.personName {
  width: 287px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}

.personName p {
  font-size: 47px;
  font-weight: 500;
}

.personInfo {
  width: 287px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  line-height: 19px;
}

.personInfo button {
  width: 62px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  border: 0;
  background-color: transparent;
}

.personInfo button:hover {
  color: var(--text-color05);
}

.personInfo img {
  width: 14px;
}

.personInfo button:hover img {
  filter: brightness(0) saturate(100%) invert(51%) sepia(32%) saturate(1006%)
    hue-rotate(157deg) brightness(95%) contrast(95%);
}

.information {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
}

.information h2 {
  font-size: 16px;
}

.information a {
  font-size: 16px;
  color: var(--text-color08);
}

.information p {
  font-size: 16px;
}

.information span {
  font-size: 20px;
  font-weight: 400;
}

.editcontactpopupcontent{
  width: 1212px;
  background-color: var(--back-color04);
  border-radius: 30px;
  display: flex;
}

.editcontactpopupleftside{
  width: 401px;
  height: 594px;
  background-color: var(--back-color02);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 66px 46px 66px 46px;
  gap: 12px;
}

.editcontactpopupleftside h1{
  color: var(--text-color02);
  font-size: 50px;
  font-weight: 700;
}

.editcontactpopupleftside img{
  width: 54px
}

.blueline{
  height: 3px;
  width: 90px;
  background-color: var(--back-color03);
}

.editcontactpopuprightside{
  width: 810px;
  display: flex;
  align-items: center;
  gap: 64px;
}

.test{
  width: 422px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 32px;
}

.test input{
  width: 422px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid var(--back-color08);
  padding-left: 16px;
  font-size: 20px;
  font-weight: 400;
}

.test input[type=text]{
  background-image: url("../../../resources/symbols/person.png");
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
}
.test input[type=email]{
  background-image: url("../../../resources/symbols/mail.png");
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
}
.test input[type=number]{
  background-image: url("../../../resources/symbols/call.png");
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
}

.closeeditcontactpopup{
  position: relative;
  top: -44%;
  left: 93%;
  border: none;
  background-color: transparent;
  color: var(--text-color04);
  font-weight: bold;
  font-size: 42px;
  display: flex;
  align-items: flex-start;
}

.closeeditcontactpopup:hover{
  color: var(--back-color03);
}

.testbuttons{
  display: flex;
  gap: 16px;
}

.deletebtn {
  width: 111px;
  height: 57px;
  border: 1px solid var(--back-color02);
  background-color: transparent;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  transition: 0.2s;
  line-height: 55px;
}

.deletebtn:hover {
  border: 1px solid var(--back-color03);
  color: var(--text-color05);
  box-shadow: #00000062 0px 2px 4px 0px;
}

.savebtn {
  width: 111px;
  height: 57px;
  border: none;
  background-color: var(--back-color02);
  border-radius: 10px;
  font-weight: 700;
  font-size: 21px;
  color: var(--text-color02);
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.savebtn:hover {
  background-color: var(--back-color03);
  box-shadow: #00000062 0px 2px 4px 0px;
}