main {
  padding-bottom: 0 !important;
}

body {
  overflow: hidden;
}

.contacts {
  /* background-color: blanchedalmond; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.showContacts {
  width: 456px;
  background-color: var(--back-color04);
  display: flex;
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;
  box-shadow: #00000062 0px 0px 10px 0px;
  flex-direction: column;
  height: calc(100vh - 96px);
}

.showContactcard {
  /* background-color: red; */
  padding: 90px 0 0 45px;
  display: flex;
  align-items: flex-start;
  gap: 32px;
  flex-direction: column;
}

.showContactcard h2 {
  font-size: 61px;
}

.showContactcard p {
  font-size: 27px;
}

.showContactcard h3 {
  font-size: 20px;
  font-weight: 400;
}

.showContactcardTrennline {
  background-color: var(--back-color03);
  width: 3px;
  height: 59px;
}

.addNewContactheader {
  /* background-color: aquamarine; */
  height: 101px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  /* box-shadow: #00000062 0px 2px 4px 0px;  */
}

.addNewContact {
  width: 352px;
  height: 56px;
  border-radius: 10px;
  padding: 5px 0 5px 0;
  background-color: var(--back-color02);
  border: 1px;
  color: var(--text-color02);
  font-size: 21px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  transition: 0.2s;
}

.addNewContact:hover {
  background-color: var(--back-color03);
  box-shadow: #00000062 0px 2px 4px 0px;
}

.addNewContact p {
  color: var(--text-color02);
  font-size: 21px;
  font-weight: 700;
}

.Contactcards {
  /* background-color: aquamarine; */
  height: 100vh;
}

.letter {
  width: 352px;
  height: 58px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 17px 36px 17px 36px;
}

.ContactcardsTrennline {
  background-color: var(--back-color05);
  width: 352px;
  height: 1px;
  margin: 8px 0 8px 0;
}

.card {
  width: 352px;
  height: 78px;
  padding: 15px 24px 15px 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 8px;
}

.card a {
  font-size: 16px;
  color: var(--text-color08);
}

.card p {
  font-size: 20px;
}

.card:hover {
  /* wenn angeklickt dann --> background-color: var(--back-color02); */
  background-color: var(--back-color01);
  color: var(--text-color02) !important;
}

.card:hover p {
  color: var(--text-color01);
  /* wenn angeklickt dann --> color: var(--text-color02); */
}

.cardactive {
  background-color: var(--back-color02);
  width: 352px;
  height: 78px;
  padding: 15px 24px 15px 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 8px;
}

.cardactive a {
  font-size: 16px;
  color: var(--text-color08);
}

.cardactive p {
  font-size: 20px;
  color: var(--text-color02);
}

#nameShortcut {
  width: 42px;
  height: 42px;
  border: 2px solid;
  /* Added 'solid' to specify border style */
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color02);
  font-size: 12px;
  background-color: rgb(127, 44, 44);
}

.personTitle {
  width: 569px;
  height: 73px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.personCard {
  width: 461px;
  height: 120px;
  display: flex;
  gap: 54px;
}

.personShortcut {
  width: 120px;
  height: 120px;
  background-color: rgb(255, 123, 0);
  border-radius: 100%;
  color: var(--text-color02);
  font-size: 47px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--back-color04);
}

.personName {
  width: 287px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}

.personName p {
  font-size: 47px;
  font-weight: 500;
}

.personInfo {
  width: 287px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  line-height: 19px;
}

.personInfo button {
  width: 62px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  border: 0;
  background-color: transparent;
}

.personInfo button:hover {
  color: var(--text-color05);
}

.personInfo img {
  width: 14px;
}

.personInfo button:hover img {
  filter: brightness(0) saturate(100%) invert(51%) sepia(32%) saturate(1006%)
    hue-rotate(157deg) brightness(95%) contrast(95%);
}

.information {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
}

.information h2 {
  font-size: 16px;
}

.information a {
  font-size: 16px;
  color: var(--text-color08);
}

.information p {
  font-size: 16px;
}

.information span {
  font-size: 20px;
  font-weight: 400;
}

.editcontactpopupcontent {
  width: 1212px;
  background-color: var(--back-color04);
  border-radius: 30px;
  display: flex;
}

.addcontactpopupcontent {
  width: 1212px;
  background-color: var(--back-color04);
  border-radius: 30px;
  display: flex;
}

.addcontactpopupleftside {
  width: 401px;
  height: 594px;
  background-color: var(--back-color02);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 66px 46px 66px 46px;
  gap: 12px;
}

.addcontactpopupleftside h1 {
  color: var(--text-color02);
  font-size: 50px;
  font-weight: 700;
}
.addcontactpopupleftside p {
  font-size: 23px;
  color: var(--text-color02) !important;
  font-weight: 400;
}

.addcontactpopupleftside img {
  width: 54px;
}

.editcontactpopupleftside {
  width: 401px;
  height: 594px;
  background-color: var(--back-color02);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 66px 46px 66px 46px;
  gap: 12px;
}

.editcontactpopupleftside h1 {
  color: var(--text-color02);
  font-size: 50px;
  font-weight: 700;
}
.editcontactpopupleftside p {
  font-size: 23px;
  color: var(--text-color02) !important;
  font-weight: 400;
}

.editcontactpopupleftside img {
  width: 54px;
}

.blueline {
  height: 3px;
  width: 90px;
  background-color: var(--back-color03);
}

.editcontactpopuprightside {
  width: 810px;
  display: flex;
  align-items: center;
  gap: 64px;
}
.addcontactpopuprightside {
  width: 810px;
  display: flex;
  align-items: center;
  gap: 64px;
}
.usericon {
  width: 120px;
}
.addpersoninput {
  width: 422px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 32px;
}

.addpersoninput input {
  width: 422px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid var(--back-color08);
  padding-left: 16px;
  font-size: 20px;
  font-weight: 400;
}

.addpersoninput input[type="text"] {
  background-image: url("../../../resources/symbols/person.png");
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
}

.addpersoninput input::placeholder {
  color: #d1d1d1;
}

.addpersoninput input[type="email"] {
  background-image: url("../../../resources/symbols/mail.png");
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
}

.addpersoninput input[type="number"] {
  background-image: url("../../../resources/symbols/call.png");
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
}

.editpersoninput {
  width: 422px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 32px;
}

.editpersoninput input {
  width: 422px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid var(--back-color08);
  padding-left: 16px;
  font-size: 20px;
  font-weight: 400;
}

.editpersoninput input[type="text"] {
  background-image: url("../../../resources/symbols/person.png");
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
}

.editpersoninput input::placeholder {
  color: #d1d1d1;
}

.editpersoninput input[type="email"] {
  background-image: url("../../../resources/symbols/mail.png");
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
}

.editpersoninput input[type="number"] {
  background-image: url("../../../resources/symbols/call.png");
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
}

.closeaddcontactpopup {
  position: relative;
  top: -44%;
  left: 93%;
  border: none;
  background-color: transparent;
  color: var(--text-color04);
  font-weight: bold;
  font-size: 42px;
  display: flex;
  align-items: flex-start;
}

.closeaddcontactpopup:hover {
  color: var(--back-color03);
}

.closeeditcontactpopup {
  position: relative;
  top: -44%;
  left: 93%;
  border: none;
  background-color: transparent;
  color: var(--text-color04);
  font-weight: bold;
  font-size: 42px;
  display: flex;
  align-items: flex-start;
}

.closeeditcontactpopup:hover {
  color: var(--back-color03);
}

.bottombuttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.deletebtn {
  width: 111px;
  height: 57px;
  border: 1px solid var(--back-color02);
  background-color: transparent;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  transition: 0.2s;
  line-height: 55px;
}

.deletebtn:hover {
  border: 1px solid var(--back-color03);
  color: var(--text-color05);
  box-shadow: #00000062 0px 2px 4px 0px;
}

.creatbtn {
  width: 214px;
  height: 57px;
  border: none;
  background-color: var(--back-color02);
  border-radius: 10px;
  font-weight: 700;
  font-size: 21px;
  color: var(--text-color02);
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.creatbtn:hover {
  background-color: var(--back-color03);
  box-shadow: #00000062 0px 2px 4px 0px;
}

.cancelbtn {
  width: 126px;
  height: 57px;
  border: 1px solid var(--back-color02);
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 400;
  transition: 0.2s;
  line-height: 55px;
}

.cancelbtn:hover {
  border: 1px solid var(--back-color03);
  color: var(--text-color05);
  box-shadow: #00000062 0px 2px 4px 0px;
}

.savebtn {
  width: 111px;
  height: 57px;
  border: none;
  background-color: var(--back-color02);
  border-radius: 10px;
  font-weight: 700;
  font-size: 21px;
  color: var(--text-color02);
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.savebtn:hover {
  background-color: var(--back-color03);
  box-shadow: #00000062 0px 2px 4px 0px;
}

.hidecontactcardarrow {
  display: none;
}
.showContactcardTrennlinemobile {
  display: none;
}
.addEditDeletContactmobile {
  display: none;
}
#showContactcard {
  position: relative; /* Standardpositionierung */
  right: 0;
  display: flex !important; /* Immer sichtbar */
}

@keyframes slideOutToRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

#addcontactpopupanimation.show {
  animation: slideInFromRight 0.3s ease-out forwards;
}

#addcontactpopupanimation.hide {
  animation: slideOutToRight 0.3s ease-out forwards;
}

#editcontactpopupanimation.show {
  animation: slideInFromRight 0.3s ease-out forwards;
}

#editcontactpopupanimation.hide {
  animation: slideOutToRight 0.3s ease-out forwards;
}

.dropdownedlitdelete {
  width: 116px;
  height: 100px;
  display: none;
  position: absolute;
  background-color: var(--back-color01);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 16px 16px 0 16px;
  z-index: 1;
  bottom: 239px;
  right: 65px;
}

.dropdownedlitdelete a {
  width: 100%;
  color: black;
  padding: 4px 24px;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
}

.dropdownedlitdelete- a:hover {
  color: var(--text-color02);
}

/* Animation */
.dropdownedlitdelete.show {
  display: flex;
  animation: fadeIn 0.5s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px;
  gap: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dropdownedlitdelete button {
  width: 62px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  border: 0;
  background-color: transparent;
  padding-block: 0;
  padding-inline: 0;
}

.dropdownedlitdelete button:hover {
  color: var(--text-color05);
}

.dropdownedlitdelete img {
  width: 14px;
}

.dropdownedlitdelete button:hover img {
  filter: brightness(0) saturate(100%) invert(51%) sepia(32%) saturate(1006%)
    hue-rotate(157deg) brightness(95%) contrast(95%);
}
