.taskbottommobileedit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
}

.footercontentedit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 8px;
}

.buttonsdimobileedit {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.taskmanagerContentEdit {
  width: auto;
  display: flex;
  gap: 24px;
  flex-direction: column;
  padding-bottom: 0;
}

.layoutEdit {
  width: auto !important;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 18px;
  gap: 24px !important;
}

.Taskedit {
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.Taskedit p {
    margin-bottom: 8px;
  }

.Editsubtasks {
  height: auto !important;
}

.EditUserCards{
  width: auto !important;
  position: relative !important;
}