/* main/navBar.css */

/*
  Stile für die Seitenleiste (.navBar) der Anwendung.
*/
.btn {
  cursor: pointer;
}

/* Style the active class (and buttons on mouse-over) */
.active {
  background-color: var(--back-color06);
  color: white;
  border-radius: 8px;
}

nav {
  background-color: var(--back-color02);
  width: 232px;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  font-size: 16px;
  font-weight: 400;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}

.logo {
  width: 100px;
  object-fit: cover;
  margin-top: 64px;
  cursor: pointer;
  transition: 0.3s;
}

.logo:hover {
  opacity: 0.7;
}

.navList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

nav a {
  width: 100%;
  color: var(--text-color07);
  text-decoration: none;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  transition: 0.2s;
  cursor: pointer;
}

nav a:hover {
  background-color: var(--back-color07);
  color: var(--text-color02);
  border-radius: 8px;
}

.navicons {
  padding-left: 63px;
}

.dataprotection {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 317px;
  width: 100%;
  /* border: 1px solid white; */
  margin-bottom: 8px;
}

.dataprotection a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: var(--text-color07);
  cursor: pointer;
}

.dataprotection a:hover {
  background-color: transparent;
  transform: scale(1.1);
  color: var(--text-color05);
}

.nav-link {
  /* Dein Standard-Stil für die Navigations-Links */
}

.nav-link.active {
  /* Dein Stil für den aktiven Navigations-Link */
  background-color: #ccc;
  color: #333;
}


