/* main/summary.css */

/*
    Globale Schriftfarbe für <span>-Elemente
*/
span {
    color: var(--text-color04);
}

/*
    Layout und Styling des gesamten Summary-Inhalts
*/
.summary-contant {
    inset: 0;
    position: absolute;
    width: 100vw;
    height: 100%;
}

/*
    Layout und Styling des Summary-Headers
*/
.summary-header {
    width: 625px;
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary-header h2 {
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
}

.summary-header hr {
    background-color: var(--hr-color01);
    width: 3px;
    height: 59px;
    border: none;
}

.summary-header span {
    font-weight: 400;
    font-size: 27px;
    line-height: 32.4px;
}

/*
    Layout und Styling des Hauptinhalts
*/
.summary-main {
    position: fixed;
    width: 560px;
    height: 562px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;
}

/*
    Styling für das erste <div> im Hauptinhalt
*/
.summary-main>div:nth-of-type(1) {
    width: 100%;
    height: 168px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*
    Styling für die <figure> Elemente im ersten und zweiten <div>
*/
.summary-main>div:nth-of-type(1) figure,
.summary-main>div:nth-of-type(2) figure {
    background-color: var(--back-color04);
    width: 264px;
    height: 168px;
    border-radius: 30px;
    padding: 38px 19px;
    gap: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary-main>div:nth-of-type(1) figure .imgSrc1 {
    background-image: url('../../../resources/symbols/summary-symbol01.png');
}

.summary-main>div:nth-of-type(1) figure .imgSrc2 {
    background-image: url('../../../resources/symbols/summary-symbol02.png');
}

.summary-main>div:nth-of-type(1) figure .image,
.summary-main>div:nth-of-type(2) figure .image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 69px;
    height: 69px;
}

.summary-main>div:nth-of-type(1) figure figcaption,
.summary-main>div:nth-of-type(2) figure figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-main>div:nth-of-type(1) figure figcaption span:first-child,
.summary-main>div:nth-of-type(2) figure figcaption span:first-child {
    color: var(--text-color01);
    font-weight: 600;
    font-size: 64px;
    line-height: 76.8px;
}

.summary-main>div:nth-of-type(1) figure figcaption span:last-child,
.summary-main>div:nth-of-type(2) figure figcaption span:last-child {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

/*
    Styling für das zweite <div> im Hauptinhalt
*/
.summary-main>div:nth-of-type(2) {
    background-color: var(--back-color04);
    width: 100%;
    height: 168px;
    border-radius: 30px;
    padding: 28px 48px;
    gap: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary-main>div:nth-of-type(2) figure {
    background-color: transparent;
    border-color: var(--hr-color02);
    border-style: solid;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    border-width: 2px;
    height: 102.2px;
}

.summary-main>div:nth-of-type(2) figure .imgSrc3 {
    background-image: url('../../../resources/symbols/summary-symbol03.png');
}

.summary-main>div:nth-of-type(2) div {
    display: flex;
    flex-direction: column;
    width: 278px;
    gap: 13px;
    padding: 38px 19px;
}

.summary-main>div:nth-of-type(2) div span:first-child {
    color: var(--text-color04);
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
}

.summary-main>div:nth-of-type(2) div span:last-child {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}

/*
    Styling für das dritte <div> im Hauptinhalt
*/
.summary-main>div:nth-of-type(3) {
    display: flex;
    justify-content: space-between;
}

.summary-main>div:nth-of-type(3) div {
    background-color: var(--back-color04);
    width: 168px;
    height: 168px;
    border-radius: 30px;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary-main>div:nth-of-type(3) div span:first-child {
    color: var(--text-color01);
    font-weight: 600;
    font-size: 64px;
    line-height: 76.8px;
}

.summary-main>div:nth-of-type(3) div span:last-child {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    width: 83px;
    text-align: center;
}

/*
    Layout und Styling des Benutzerabschnitts
*/
.summary-user {
    position: absolute;
    width: 385px;
    height: 136px;
    gap: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transform: translate(630px, 270px);
}

.summary-user span:first-child {
    font-weight: 500;
    font-size: 47px;
    line-height: 56.4px;
}

.summary-user span:last-child {
    font-weight: 700;
    font-size: 64px;
    line-height: 76.8px;
    color: var(--text-color09);
}

/* Hover-Effekte */
/* 
    Hintergrundfarbe, Schatten und Übergang bei Hover auf verschiedenen Elementen. 
    Diese Regel gilt für: 
    - <figure> Elemente im ersten <div> der Hauptzusammenfassung 
    - das zweite <div> der Hauptzusammenfassung 
    - <div> Elemente im dritten <div> der Hauptzusammenfassung 
*/
.summary-main>div:nth-of-type(1) figure:hover,
.summary-main>div:nth-of-type(2):hover,
.summary-main>div:nth-of-type(3) div:hover {
    background-color: var(--back-color02);
    box-shadow: 2px 3px 8px 3px rgba(0, 0, 0, 0.288);
    transition: .2s ease-in-out;
    cursor: pointer;
}

/* 
    Transformation bei Hover auf den ersten <figure> Elementen im ersten <div> 
    und das erste <div> Element im dritten <div> der Hauptzusammenfassung. 
*/
.summary-main>div:nth-of-type(1) figure:first-child:hover,
.summary-main>div:nth-of-type(2):hover,
.summary-main>div:nth-of-type(3) div:first-child:hover {
    transform: scale(1.05) translate(5px, 5px);
}

/* 
    Transformation bei Hover auf den letzten <figure> Elementen im ersten <div> 
    und das letzte <div> Element im dritten <div> der Hauptzusammenfassung. 
*/
.summary-main>div:nth-of-type(1) figure:last-child:hover,
.summary-main>div:nth-of-type(3) div:last-child:hover {
    transform: scale(1.05) translate(-5px, 5px);
}

/* 
    Transformation bei Hover auf das zweite <div> Element im dritten <div> 
    der Hauptzusammenfassung.
*/
.summary-main>div:nth-of-type(3) div:nth-of-type(2):hover {
    transform: scale(1.05);
}

/* 
    Textfarbe bei Hover auf verschiedenen Elementen. 
    Diese Regel gilt für: 
    - <span> Elemente innerhalb der <figure> im ersten <div> der Hauptzusammenfassung 
    - <span> Elemente innerhalb des zweiten <div> der Hauptzusammenfassung 
    - <span> Elemente innerhalb der <div> im dritten <div> der Hauptzusammenfassung 
*/
.summary-main>div:nth-of-type(1) figure:hover span,
.summary-main>div:nth-of-type(2):hover span,
.summary-main>div:nth-of-type(3) div:hover span {
    color: var(--text-color02) !important;
}

/* 
    Hintergrundbildwechsel bei Hover auf .img1 Klasse im ersten <figure> 
    Element des ersten <div> der Hauptzusammenfassung.
*/
.summary-main>div:nth-of-type(1) figure:hover .imgSrc1 {
    background-image: url('../../../resources/symbols/summary-white-symbol01.png');
}

/* 
    Hintergrundbildwechsel bei Hover auf .img2 Klasse im ersten <figure> 
    Element des ersten <div> der Hauptzusammenfassung.
*/
.summary-main>div:nth-of-type(1) figure:hover .imgSrc2 {
    background-image: url('../../../resources/symbols/summary-white-symbol02.png');
}