/* main/summary.css */

.summary-contant {
    inset: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 50px;
}

.summary-header {
    width: 625px;
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary-header h2 {
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
}

.summary-header hr {
    background-color: var(--hr-color01);
    width: 3px;
    height: 59px;
    border: none;
}

.summary-header span {
    font-weight: 400;
    font-size: 27px;
    line-height: 32.4px;
}

.summary-main {
    background-color: aqua;
    position: absolute;
    width: 560px;
    height: 562px;
    margin-top: 50px;
}

.summary-main>div:nth-of-type(1) {
    width: 100%;
    height: 168px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary-main>div:nth-of-type(1) figure,
.summary-main>div:nth-of-type(2) figure {
    background-color: var(--back-color04);
    width: 264px;
    height: 168px;
    border-radius: 30px;
    padding: 38px 19px;
    gap: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary-main>div:nth-of-type(1) figure img,
.summary-main>div:nth-of-type(2) figure img {
    width: 69px;
    height: 69px;
}

.summary-main>div:nth-of-type(1) figure figcaption,
.summary-main>div:nth-of-type(2) figure figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-main>div:nth-of-type(1) figure figcaption span:first-child,
.summary-main>div:nth-of-type(2) figure figcaption span:first-child {
    font-weight: 600;
    font-size: 64px;
    line-height: 76.8px;
}

.summary-main>div:nth-of-type(1) figure figcaption span:last-child,
.summary-main>div:nth-of-type(2) figure figcaption span:last-child {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.summary-main>div:nth-of-type(2) {
    background-color: var(--back-color04);
    width: 100%;
    height: 168px;
    margin-top: 30px;
    border-radius: 30px;
    padding: 28px, 48px;
    gap: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary-main>div:nth-of-type(2) figure {
    background-color: transparent;
}

.summary-main>div:nth-of-type(2) hr {
    width: 2px;
    height: 102.2px;
    border: none;
    background-color: var(--hr-color02);
}

.summary-main>div:nth-of-type(2) div {
    display: flex;
    flex-direction: column;
    width: 278px;
    gap: 13px;
    padding: 38px 19px;
}

.summary-main>div:nth-of-type(2) div span:first-child {
    color: var(--text-color04);
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
}

.summary-main>div:nth-of-type(2) div span:last-child {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}