p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.summarytopcontent {
  display: flex;
  align-items: center;
  gap: 30px;
}
.toptrenn {
  display: flex;
  align-items: center;
  gap: 30px;
}

.summarytop h1 {
  font-size: 61px;
  font-weight: 700;
}

.summarytop p {
  font-size: 27px;
  font-weight: 400;
}

.verticaltrennline {
  height: 59px;
  width: 3px;
  background-color: var(--back-color10);
  border-radius: 4px;
}
.horizontaltrennline {
  display: none;
}
.content {
  display: flex;
  gap: 64px;
  align-items: center;
}
.summarymaincontainer {
  width: 562px;
  /* height: 562px; */
  /* background-color: aqua; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.summarybtncontainer {
  width: 560px;
  display: flex;
  height: 168px;
  /* background-color:rebeccapurple; */
  gap: 40px;
}

.summarybtn {
  background-color: var(--back-color04);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 0px;
  font-weight: 400;
  cursor: pointer;
  font-size: 18px;
}
.summarybtn div {
  color: var(--text-color04);
}
.todo,
.done {
  width: 264px;
  height: 168px;
  gap: 18px;
}

.urgent {
  width: 560px;
  height: 168px;
  gap: 61px;
  /* position: fixed;
  z-index: 9; */
}

.tasksinboard,
.tasksinprogress,
.awaitingfeedback {
  width: 168px;
  height: 168px;
}
.innersummarybtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.innersummarybtn h2 {
  font-size: 64px;
  font-weight: 600;
}
.innersummarybtn p {
  font-size: 16px;
  font-weight: 400;
}
.innersummarybtntrennline {
  width: 1px;
  height: 102px;
  background-color: var(--back-color09);
}
.summaryurgentdate {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.summaryurgentdate h3 {
  font-size: 21px;
  font-weight: 700;
  color: var(--text-color04);
}
.summaryurgentdate p {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color04);
}
.welcomenotecontainer {
  /* background-color: aqua; */
  height: 136px;
  width: 385px;
}

.welcomenotecontainer p {
  font-size: 47px;
  font-weight: 500;
  color: var(--text-color04);
}

.welcomenotecontainer h2 {
  font-size: 64px;
  font-weight: 700;
  color: var(--text-color09);
}

/* Allgemeine Stile für summary buttons */
.summarybtn {
  background-color: var(--back-color04);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 0px;
  font-weight: 400;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s ease-in-out;
}

.summarybtn div {
  color: var(--text-color04);
}

.summarybtn img {
  transition: 0.2s ease-in-out;
}

/* Hover effects für summary buttons */
.summarybtn:hover {
  background-color: var(--back-color02);
  transform: scale(1.05);
  color: white;
}

.summarybtn:hover div {
  color: white;
}

.summarybtn:hover h2,
.summarybtn:hover h3,
.summarybtn:hover p {
  color: white;
}
/* Spezifische Hover-Effekte für einzelne summary buttons */
.todo:hover {
  transform: scale(1.05) translate(5px, 0);
}

.done:hover {
  transform: scale(1.05) translate(-5px, 5px);
}

.urgent:hover {
  transform: scale(1.05) translate(0, 0);
  /* position: fixed; */
}

.tasksinboard:hover {
  transform: scale(1.05) translate(5px, -5px);
}

.tasksinprogress:hover {
  transform: scale(1.05) translate(0px, -5px);
}

.awaitingfeedback:hover {
  transform: scale(1.05) translate(-5px, -5px);
}

/* Hover effect für das Ändern von Bildern */
.summarybtn.todo:hover img {
  content: url("../../../resources/symbols/summary-white-symbol01.png");
}

.summarybtn.done:hover img {
  content: url("../../../resources/symbols/summary-white-symbol02.png");
}
.welcomecontent {
  width: 100vw;
  height: 200vh;
  background-color: var(--back-color01);
  position: fixed;
  top: 96px;
  left: 232px;
  z-index: 9999;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: hidden;
}
.welcomecontent p {
  font-size: 47px;
  color: var(--text-color04);
}
.welcomecontent h1 {
  font-size: 64px;
  color: var(--text-color09);
}
/* Fade-in Animation */
.welcomemassage {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  margin-left: 160px;
  margin-top: 240px;
}

.fade-in {
  opacity: 1;
}

/* Fade-out Animation */
.fade-out {
  opacity: 0;
}
