p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.summarytopcontent {
  display: flex;
  align-items: center;
  gap: 30px;
}
.toptrenn {
  display: flex;
  align-items: center;
  gap: 30px;
}

.summarytop h1 {
  font-size: 61px;
  font-weight: 700;
}

.summarytop p {
  font-size: 27px;
  font-weight: 400;
}

.verticaltrennline {
  height: 59px;
  width: 3px;
  background-color: var(--back-color10);
  border-radius: 4px;
}
.horizontaltrennline {
  display: none;
}
.content {
  display: flex;
  gap: 64px;
  align-items: center;
}
.summarymaincontainer {
  width: 562px;
  height: 562px;
  /* background-color: aqua; */
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.summarybtncontainer {
  width: 560px;
  display: flex;
  height: 168px;
  /* background-color:rebeccapurple; */
  gap: 40px;
}

.summarybtn {
  background-color: var(--back-color04);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 0px;
  font-weight: 400;
  cursor: pointer;
  font-size: 18px;
}
.summarybtn div {
  color: var(--text-color04);
}
.todo,
.done {
  width: 264px;
  height: 168px;
  gap: 18px;
}

.urgent {
  width: 560px;
  height: 168px;
  gap: 61px;
  /* position: fixed;
  z-index: 9; */
}

.tasksinboard,
.tasksinprogress,
.awaitingfeedback {
  width: 168px;
  height: 168px;
}
.innersummarybtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.innersummarybtn h2 {
  font-size: 64px;
  font-weight: 600;
}
.innersummarybtn p {
  font-size: 16px;
  font-weight: 400;
}
.innersummarybtntrennline {
  width: 1px;
  height: 102px;
  background-color: var(--back-color09);
}
.summaryurgentdate {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.summaryurgentdate h3 {
  font-size: 21px;
  font-weight: 700;
  color: var(--text-color04);
}
.summaryurgentdate p {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color04);
}
.welcomenotecontainer {
  /* background-color: aqua; */
  height: 136px;
  width: 385px;
}

.welcomenotecontainer p {
  font-size: 47px;
  font-weight: 500;
  color: var(--text-color04);
}

.welcomenotecontainer h2 {
  font-size: 64px;
  font-weight: 700;
  color: var(--text-color09);
}

/* Allgemeine Stile für summary buttons */
.summarybtn {
  background-color: var(--back-color04);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 0px;
  font-weight: 400;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s ease-in-out;
}

.summarybtn div {
  color: var(--text-color04);
}

.summarybtn img {
  transition: 0.2s ease-in-out;
}

/* Hover effects für summary buttons */
.summarybtn:hover {
  background-color: var(--back-color02);
  transform: scale(1.05);
  color: white;
}

.summarybtn:hover div {
  color: white;
}

.summarybtn:hover h2,
.summarybtn:hover h3,
.summarybtn:hover p {
  color: white;
}
/* Spezifische Hover-Effekte für einzelne summary buttons */
.todo:hover {
  transform: scale(1.05) translate(5px, 0);
}

.done:hover {
  transform: scale(1.05) translate(-5px, 5px);
}

.urgent:hover {
  transform: scale(1.05) translate(0, 0);
  /* position: fixed; */
}

.tasksinboard:hover {
  transform: scale(1.05) translate(5px, -5px);
}

.tasksinprogress:hover {
  transform: scale(1.05) translate(0px, -5px);
}

.awaitingfeedback:hover {
  transform: scale(1.05) translate(-5px, -5px);
}

/* Hover effect für das Ändern von Bildern */
.summarybtn.todo:hover img {
  content: url("../../../resources/symbols/summary-white-symbol01.png");
}

.summarybtn.done:hover img {
  content: url("../../../resources/symbols/summary-white-symbol02.png");
}
.welcomecontent {
  width: 100vw;
  height: 200vh;
  background-color: var(--back-color01);
  position: fixed;
  top: 96px;
  left: 232px;
  z-index: 9999;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: hidden;
}
.welcomecontent p {
  font-size: 47px;
  color: var(--text-color04);
}
.welcomecontent h1 {
  font-size: 64px;
  color: var(--text-color09);
}
/* Fade-in Animation */
.welcomemassage {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  margin-left: 160px;
  margin-top: 240px;
}

.fade-in {
  opacity: 1;
}

/* Fade-out Animation */
.fade-out {
  opacity: 0;
}

@media (max-width: 1300px) {
  .welcomemassage {
    margin-left: 0;
    margin-top: 0;
  }
  .welcomecontent {
    width: 100vw;
    height: 100vh;
    background-color: var(--back-color01);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .welcomecontent p {
    font-size: 47px;
    color: var(--text-color04);
    margin: 0;
  }
  .welcomecontent h1 {
    font-size: 64px;
    color: var(--text-color09);
  }
  .summarytop {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    margin-top: 32px;
  }
  .verticaltrennline {
    display: none;
  }
  .horizontaltrennline {
    display: block;
    height: 3px;
    width: 90px;
    background-color: var(--back-color10);
  }
  .content {
    gap: 0;
    justify-content: center;
  }
  .summarytopcontent {
    width: 70%;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }
  .summarytopcontent h1 {
    font-size: 47px;
  }
  .toptrenn {
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }
  .welcomenotecontainer {
    display: none;
  }
  .summarymaincontainer {
    width: 70%;
  }
  .summarybtncontainer {
    width: 100%;
    gap: 2%;
  }
  .todo,
  .done {
    width: 100%;
  }
  .urgent {
    position: unset;
    width: 100%;
    z-index: 0;
  }
  .urgent:hover {
    position: unset;
    z-index: 0;
  }
  .tasksinboard,
  .tasksinprogress,
  .awaitingfeedback {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .summarymain {
    height: calc(100vh - 176px);
  }
  .summarytop {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    margin-top: 32px;
  }
  .summarytopcontent {
    width: 70%;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }
  .summarytopcontent h1 {
    font-size: 47px;
  }
  .summarytop p {
    font-size: 20px;
  }
  .summarymaincontainer {
    margin-top: 32px;
    width: 95vw;
    height: 384px;
    gap: 0;
  }
  .summarybtncontainer {
    width: 100%;
    gap: 8px;
  }
  .todo,
  .done {
    height: 120px;
    gap: 10px;
    border-radius: 20px;
  }
  .urgent {
    height: 120px;
    gap: 5%;
    padding: 8px;
  }
  .tasksinboard,
  .tasksinprogress,
  .awaitingfeedback {
    height: 120px;
  }
  .summarybtn img {
    width: 40px;
  }
  .innersummarybtn h2 {
    font-size: 47px;
  }
  .innersummarybtn p {
    font-size: 14px;
  }
  @media (max-width: 770px) {
    .summarytopcontent {
      width: 95vw;
  }

  }
}
